+section('s-main-advantages', '', '', '', false)
  .s-main-advantages__inner
    .s-main-advantages__col.s-main-advantages__col--info
      .s-main-advantages__content
        h2.s-main-advantages__title.font-h1 Наши
        p.s-main-advantages__subtitle.font-h1-didona Преимущества
        .s-main-advantages__introtext.font-text-s
          p Российская и международная учебная программа
          p Арт-класс, многопрофильная лаборатория и уникальные игровые пространства для настоящих исследователей
          p Иммерсивное изучение английского, французского и русского языков через сторителлинг
          p Комфортная творческая атмосфера, современная инфраструктура и биофильный дизайн, вдохновляющие на учебу и игры
          p Ресторан с обучающей кухней и авторское сбалансированное меню от шеф-повара, адаптированное для каждого ребёнка

    .s-main-advantages__col
      .s-main-advantages__photos
        .s-main-advantages__photo
          img(src="./img/s-main-advantages/1.jpg", alt="1")
        .s-main-advantages__photo
          img(src="./img/s-main-advantages/2.jpg", alt="2")
        .s-main-advantages__photo
          img(src="./img/s-main-advantages/3.jpg", alt="3")
        .s-main-advantages__photo
          img(src="./img/s-main-advantages/4.jpg", alt="4")
