section.s-page-intro
  .s-page-intro__wrapper
    picture
      source(media="(min-width: 600px)", srcset="./img/intro/banner.jpg")
      img.s-page-intro__image(src="./img/intro/banner-mobile.jpg")
    .l-container
      .s-page-intro__content
        .s-page-intro__info
          +m_breadcrumbs(['State of Mind'], 'Our Team')
          h1.s-page-intro__title The Spirits behind
          .s-page-intro__text La berёzka academy
          .s-page-intro__introtext The authors of the project consciously sought to move away from the British educational model that dominates Moscow's international schools and drew inspiration from the French and Swiss approach, while preserving the values of Russian classical culture and education.
