-
  const oneDay = [
    {
      title: 'Утренний круг',
      subtitle: '08:30 - 09:00',
      text: 'Развивает эмоциональный интеллект и социальные навыки'
    },
    {
      title: 'Завтрак',
      subtitle: '09:00 - 09:30',
      text: 'Блюда из сезонных продуктов, вдохновленные местными традициями'
    },
    {
      title: 'Учебные занятия',
      subtitle: '09:30 - 11:00',
      text: 'Развивают грамотность, коммуникативные навыки, математические способности',
      list: [
        { title: 'Математика' },
        { title: 'Искусство' },
        { title: 'Литература' },
        { title: 'Письмо' },
        { title: 'Языки' },
      ]
    },
    {
      title: 'Второй завтрак',
      subtitle: '11:00 - 11:30',
      text: 'Здоровый и сбалансированный перекус'
    },
    {
      title: 'Прогулка',
      subtitle: '11:30 - 12:30',
      text: 'Развивает крупную моторику и навыки работы в команде, укрепляет здоровье'
    },
    {
      title: 'Обед',
      subtitle: '12:30 - 13:00',
      text: 'Знакомит с многообразием мировой кухни'
    },
    {
      title: 'Время для отдыха<br> и тихих игр',
      subtitle: '13:00 - 15:00',
      text: 'Возможность дать телу и разуму время на восстановление'
    },
    {
      title: 'Полдник',
      subtitle: '15:00 - 15:30',
      text: 'Заряжает энергией на вторую половину дня'
    },
    {
      title: 'Учебные занятия',
      subtitle: '15:30 - 17:00',
      text: 'Развивают критическое мышление, любознательность и целеустремлённость.',
      list: [
        { title: 'Естественные науки' },
        { title: 'Языки' },
        { title: 'Музыка' },
        { title: 'Танцы' },
        { title: 'Спорт' },
      ]
    },
    {
      title: 'Ужин',
      subtitle: '17:00 - 17:30',
      text: 'Разнообразные блюда из свежих и полезных продуктов'
    },
    {
      title: '',
      subtitle: '17:30 - 18:00',
      text: 'Игры и свободное время'
    },
  ]

+section('s-one-day', 'Один день', 'в La Berёzka', 'Расписание дня наших воспитанников', false)
  .s-one-day__list
    each item in oneDay
      +m_info_card('', item.title, item.subtitle, item.text, item.list)
    a.s-one-day__button(href="https://drive.google.com/file/d/123EUK9Nn06QUVpjH9DRkB_O5ko4wSea2/view?usp=sharing", target="_blank")
      .s-one-day__button-label.font-h2 Скачать расписание
