+section('s-about-intro', '', '', '', false)
  .s-about-intro__content(style="background-image: url('./img/intro/intro_bg_about.png')")
    .s-about-intro__info
      .s-about-intro__title
        h1.font-h1 О команде
        span.font-h1-didona LA BERЁZKA
      .s-main-intro__description.font-text-s Мы стремимся повышать стандарты образования, создавая школы с международной средой, современной инфраструктурой и дизайном. В LA BERЁZKA мы меняем подход к образованию и жизненную философию, чтобы каждый ребёнок мог развить свой потенциал и становиться лучше каждый день.

