:root {
  --color-dark: #1f1e20;
  --color-sand: #d9c6a9;
  --color-middle-sand: #fffbf2;
  --color-light-sand: #d9c6a9;
  --color-crayola: #d1d997;
  --color-middle-crayola: #e8eccb;
  --color-grey: #a7a7a7;
  --color-middle-grey: #e5e5e5;
  --color-light-grey: #f9f9f9;
  --color-white: #fff;
  --color-light-white: rgba(255, 255, 255, 0.8);
}

:root {
  --a-padding--x1: 0.25rem;
  --a-padding--x2: 0.5rem;
  --a-padding--x3: 0.75rem;
  --a-padding--x4: 1rem;
  --a-padding--x5: 1.25rem;
  --a-padding--x6: 1.5rem;
  --a-padding--x7: 1.75rem;
  --a-padding--x8: 2rem;
  --a-padding--x9: 2.25rem;
  --a-padding--x10: 2.5rem;
  --a-padding--x11: 2.75rem;
  --a-padding--x12: 3rem;
  --a-padding--x13: 3.25rem;
  --a-padding--x14: 3.5rem;
  --a-padding--x15: 3.75rem;
  --a-padding--x16: 4rem;
  --a-padding--x17: 4.25rem;
  --a-padding--x18: 4.5rem;
  --a-padding--x19: 4.75rem;
  --a-padding--x20: 5rem;
}

:root {
  --a-borderRadius--x1: 0.25rem;
  --a-borderRadius--x2: 0.5rem;
  --a-borderRadius--x3: 0.75rem;
  --a-borderRadius--x4: 1rem;
  --a-borderRadius--x5: 1.25rem;
  --a-borderRadius--x6: 1.5rem;
  --a-borderRadius--x7: 1.75rem;
  --a-borderRadius--x8: 2rem;
  --a-borderRadius--x9: 2.25rem;
  --a-borderRadius--x10: 2.5rem;
  --a-borderRadius--x11: 2.75rem;
  --a-borderRadius--x12: 3rem;
  --a-borderRadius--x13: 3.25rem;
  --a-borderRadius--x14: 3.5rem;
  --a-borderRadius--x15: 3.75rem;
  --a-borderRadius--x16: 4rem;
  --a-borderRadius--x17: 4.25rem;
  --a-borderRadius--x18: 4.5rem;
  --a-borderRadius--x19: 4.75rem;
  --a-borderRadius--x20: 5rem;
  --a-borderRadius--x21: 5.25rem;
  --a-borderRadius--x22: 5.5rem;
  --a-borderRadius--x23: 5.75rem;
  --a-borderRadius--x24: 6rem;
  --a-borderRadius--x25: 6.25rem;
  --a-borderRadius--def: var(--a-borderRadius--x4);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.font-h1-didona {
  font-family: 'Didona', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.font-h2-didona {
  font-family: 'Didona', sans-serif;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.0625rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.font-h3-didona {
  font-family: 'Didona', sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 2.125rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.font-h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 2.125rem;
}

.font-h2 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.01em;
}

.font-h2-medium {
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.875rem;
}

.font-h2-light {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.625rem;
  letter-spacing: 0.01em;
}

.font-text-m {
  font-family: "Roboto Light", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 2.1875rem;
}

.font-text-s {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
}

.font-button {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.625rem;
}

.font-menu {
  font-family: "Roboto Light", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.s-main-intro__wrapper {
  position: relative;
}

.s-main-intro__content {
  position: absolute;
  top: 0;
  max-width: 89%;
  margin: 0 auto;
}

.s-main-intro__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
}

.s-main-intro__info {
  padding: 2.9375rem 0;
}

.s-main-intro__title {
  margin: 0 0 0.3125rem;
  font-family: 'Didona', sans-serif;
  font-size: 1.375rem;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.s-main-intro__text {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.3125rem;
}

.s-legacy {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 249, 240, 0.8)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 249, 240, 0.8) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 249, 240, 0.8) 100%);
}

.s-legacy__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
}

.s-legacy .m-section__introtext {
  margin-bottom: 0;
}

.s-legacy__cover img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.s-legacy__text--desktop {
  display: none;
}

.s-legacy__text--mobile {
  display: block;
}

.s-meets-education__wrapper {
  overflow: visible;
}

.s-meets-education__slider {
  overflow: hidden;
}

.s-meets-education__slide {
  height: auto;
}

.s-meets-education__item {
  padding-right: 1rem;
  padding-left: 1rem;
}

.s-meets-education__item-image {
  margin-bottom: 0.625rem;
}

.s-meets-education__item-image img {
  width: 100%;
  max-width: 20.8125rem;
  margin: 0 auto;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.s-meets-education__item-image img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.s-meets-education__item-alt {
  margin-bottom: 1.875rem;
  font-family: 'Playfair Display', serif;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  color: var(--color-grey);
  font-style: italic;
  letter-spacing: 0.00688rem;
}

.s-meets-education__item-title {
  margin-bottom: 1.25rem;
  text-align: center;
  font-family: 'Didona', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.s-meets-education__item-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
  text-align: center;
}

.s-meets-education__button {
  position: absolute;
  top: 53%;
  background: transparent;
  border: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.s-meets-education__button-prev {
  left: 0;
}

.s-meets-education__button-next {
  right: 0;
}

.s-breath {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 249, 240, 0.8)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, rgba(255, 249, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(255, 249, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.s-breath__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.s-breath__info {
  margin-bottom: 1.25rem;
}

.s-breath__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 49%;
}

.s-breath__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7.75rem;
  height: auto;
  border-radius: 0.625rem;
}

@media (min-width: 475px) {
  .s-main-intro__info {
    padding: 5.625rem 0;
  }
}

@media (min-width: 600px) {
  .s-meets-education__slider {
    margin: 0 -1.25rem;
  }

  .s-meets-education__slide:not(:last-child) {
    border-right: 0.04688rem solid var(--color-dark);
  }

  .s-meets-education__item {
    padding: 1rem 1.25rem 0;
  }

  .s-breath__wrapper {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1.25rem;
  }

  .s-breath__info {
    text-align: center;
  }

  .s-breath__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .s-main-intro__content {
    max-width: 94%;
  }

  .s-meets-education__slider {
    padding: 0 -1.875rem;
  }

  .s-meets-education__item {
    padding: 1rem 1.875rem 0;
  }

  .s-meets-education__item-alt {
    margin-bottom: 1.25rem;
  }

  .s-meets-education__item-title {
    font-family: 'Didona', sans-serif;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 2.125rem;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  .s-meets-education__item-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-align: left;
    letter-spacing: 0.0075rem;
  }
}

@media (min-width: 800px) {
  .s-legacy__wrapper {
    gap: 3.375rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .s-legacy__text--desktop {
    display: block;
  }

  .s-legacy__text--mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .s-main-intro__title {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.0275rem;
  }

  .s-main-intro__text {
    font-size: 2.625rem;
    font-weight: 100;
    line-height: 3.375rem;
  }

  .s-breath__wrapper {
    gap: 3.375rem;
  }

  .s-breath__image {
    width: 18.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .font-h1-didona {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.025rem;
  }

  .font-h1 {
    font-size: 2.625rem;
    line-height: 3.375rem;
  }

  .font-h2 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .font-h2-light {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .font-text-s {
    font-size: 1.0625rem;
    line-height: 1.5625rem;
  }

  .font-button {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .s-meets-education__item-title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.025rem;
  }
}

@media (min-width: 1200px) {
  .s-main-intro__info {
    padding: 9.1875rem 0;
  }

  .s-meets-education__slider {
    padding: 0 -3.75rem;
  }

  .s-meets-education__item {
    padding: 1rem 3.125rem 0;
  }
}

@media (min-width: 1336px) {
  .s-main-intro__content {
    max-width: 77.5rem;
  }
}

@media (max-width: 599px) {
  .s-breath__info {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .s-breath__image--left {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 45%;
    padding-right: 0.75rem;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .s-breath__image--right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 45%;
    padding-left: 0.75rem;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

@media (max-width: 599px) and (min-width: 992px) {
  .s-breath__image--left {
    padding-right: 0;
  }

  .s-breath__image--right {
    padding-left: 0;
  }
}

@media screen {
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pt-0 {
    padding-top: 0;
  }

  .mx-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .mt-0 {
    margin-top: 0;
  }

  .br-0 {
    border-radius: 0;
  }
}
/*# sourceMappingURL=maps/page_homepage.css.map */
