:root {
  --color-dark: #1f1e20;
  --color-sand: #d9c6a9;
  --color-middle-sand: #fffbf2;
  --color-light-sand: #d9c6a9;
  --color-crayola: #d1d997;
  --color-middle-crayola: #e8eccb;
  --color-grey: #a7a7a7;
  --color-middle-grey: #e5e5e5;
  --color-light-grey: #f9f9f9;
  --color-white: #fff;
  --color-light-white: rgba(255, 255, 255, 0.8);
}

:root {
  --a-padding--x1: 0.25rem;
  --a-padding--x2: 0.5rem;
  --a-padding--x3: 0.75rem;
  --a-padding--x4: 1rem;
  --a-padding--x5: 1.25rem;
  --a-padding--x6: 1.5rem;
  --a-padding--x7: 1.75rem;
  --a-padding--x8: 2rem;
  --a-padding--x9: 2.25rem;
  --a-padding--x10: 2.5rem;
  --a-padding--x11: 2.75rem;
  --a-padding--x12: 3rem;
  --a-padding--x13: 3.25rem;
  --a-padding--x14: 3.5rem;
  --a-padding--x15: 3.75rem;
  --a-padding--x16: 4rem;
  --a-padding--x17: 4.25rem;
  --a-padding--x18: 4.5rem;
  --a-padding--x19: 4.75rem;
  --a-padding--x20: 5rem;
}

:root {
  --a-borderRadius--x1: 0.25rem;
  --a-borderRadius--x2: 0.5rem;
  --a-borderRadius--x3: 0.75rem;
  --a-borderRadius--x4: 1rem;
  --a-borderRadius--x5: 1.25rem;
  --a-borderRadius--x6: 1.5rem;
  --a-borderRadius--x7: 1.75rem;
  --a-borderRadius--x8: 2rem;
  --a-borderRadius--x9: 2.25rem;
  --a-borderRadius--x10: 2.5rem;
  --a-borderRadius--x11: 2.75rem;
  --a-borderRadius--x12: 3rem;
  --a-borderRadius--x13: 3.25rem;
  --a-borderRadius--x14: 3.5rem;
  --a-borderRadius--x15: 3.75rem;
  --a-borderRadius--x16: 4rem;
  --a-borderRadius--x17: 4.25rem;
  --a-borderRadius--x18: 4.5rem;
  --a-borderRadius--x19: 4.75rem;
  --a-borderRadius--x20: 5rem;
  --a-borderRadius--x21: 5.25rem;
  --a-borderRadius--x22: 5.5rem;
  --a-borderRadius--x23: 5.75rem;
  --a-borderRadius--x24: 6rem;
  --a-borderRadius--x25: 6.25rem;
  --a-borderRadius--def: var(--a-borderRadius--x4);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.font-h1-didona {
  font-family: 'Didona', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.font-h2-didona {
  font-family: 'Didona', sans-serif;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.0625rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.font-h3-didona {
  font-family: 'Didona', sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 2.125rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.font-h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 2.125rem;
}

.font-h2 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.01em;
}

.font-h2-medium {
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.875rem;
}

.font-h2-light {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.625rem;
  letter-spacing: 0.01em;
}

.font-text-m {
  font-family: "Roboto Light", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 2.1875rem;
}

.font-text-s {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
}

.font-button {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.625rem;
}

.font-menu {
  font-family: "Roboto Light", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.features-training__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.875rem;
}

.features-training__card {
  background: rgba(255, 249, 240, 0.8);
  border-radius: 0.625rem;
  -webkit-box-shadow: 0rem 0.0625rem 0.9375rem rgba(34, 34, 34, 0.03);
  box-shadow: 0rem 0.0625rem 0.9375rem rgba(34, 34, 34, 0.03);
}

.features-training__card-wrapper {
  padding: 0.625rem;
}

.features-training__card-icon {
  width: 3.4375rem;
  height: 3.4375rem;
  margin-bottom: 0.3125rem;
}

.features-training__card-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.features-training__card-title {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
}

.subjects-studied {
  background-color: #FFFAF3;
}

.subjects-studied .m-section__introtext {
  max-width: 45.375rem;
}

.subjects-studied__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.875rem;
}

.subjects-studied__card {
  overflow: hidden;
  background: var(--color-white);
  border-radius: 1.5rem;
}

.subjects-studied__card-image {
  height: 9rem;
}

.subjects-studied__card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.subjects-studied__card-info {
  padding: 0.625rem;
}

.subjects-studied__card-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 0.3125rem;
}

.subjects-studied__card-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.subjects-studied__card-title {
  margin-bottom: 0.3125rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4375rem;
}

.subjects-studied__card-text {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
}

.s-universal-video__content {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.s-universal-video__content iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.s-articles-inspiration__items {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
}

.s-articles-inspiration__card {
  overflow: hidden;
  -webkit-box-shadow: 0 0.0625rem 0.9375rem 0 rgba(34, 34, 34, 0.03);
  box-shadow: 0 0.0625rem 0.9375rem 0 rgba(34, 34, 34, 0.03);
}

.s-articles-inspiration__card--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.25rem 1.875rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 140%;
  border-radius: 0.625rem;
  background-color: var(--color-white);
  font-style: normal;
  letter-spacing: 0.00875rem;
}

.s-articles-inspiration__card-text {
  text-align: center;
}

.s-articles-inspiration__card-image {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.international-team .m-section__introtext {
  max-width: 46.25rem;
}

.international-team__items {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
}

.international-team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-top: 0.0625rem solid var(--color-middle-grey);
}

.international-team__card:hover .s-our-leaders__card-photo img {
  scale: 1.05;
}

.international-team__card-photo {
  overflow: hidden;
  position: relative;
  margin-left: 0.9375rem;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.international-team__card-photo img {
  width: 100%;
  height: auto;
  max-width: 9.375rem;
  -webkit-transition: scale .75s ease-in-out;
  -o-transition: scale .75s ease-in-out;
  transition: scale .75s ease-in-out;
  -o-object-fit: contain;
  object-fit: contain;
}

.international-team__card-name {
  margin-bottom: 0.25rem;
  font-family: 'Didona', sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.00813rem;
}

.international-team__card-position {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: var(--color-grey);
  font-style: normal;
  letter-spacing: 0.0075rem;
}

.international-team__card-text {
  display: none;
}

.s-explore-advantages .m-section__introtext {
  max-width: 55.125rem;
}

.s-explore-advantages__slider {
  overflow: hidden;
}

.s-explore-advantages__slide {
  height: auto;
}

.s-explore-advantages__item {
  padding-right: 1rem;
  padding-left: 1rem;
}

.s-explore-advantages__item:hover .s-explore-advantages__item-image img {
  scale: 1.05;
}

.s-explore-advantages__item-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 0.625rem;
}

.s-explore-advantages__item-image img {
  width: 100%;
  max-width: 20.8125rem;
  max-height: 31.875rem;
  margin: 0 auto;
  -webkit-transition: scale .75s ease-in-out;
  -o-transition: scale .75s ease-in-out;
  transition: scale .75s ease-in-out;
  -o-object-fit: cover;
  object-fit: cover;
}

.s-explore-advantages__item-alt {
  margin-bottom: 1.875rem;
  font-family: 'Playfair Display', serif;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  color: var(--color-grey);
  font-style: italic;
  letter-spacing: 0.00688rem;
}

.s-explore-advantages__item-title {
  margin-bottom: 1.25rem;
  font-family: 'Didona', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.0125rem;
}

.s-explore-advantages__item-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
  text-align: justify;
}

.s-explore-advantages__item-title {
  display: block;
}

.s-explore-advantages__item-link {
  position: relative;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
}

.s-explore-advantages__item-link::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.375rem;
  height: 0.625rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.08618L6.30957 5.59813L1 10.1101' stroke='%23A7A7A7' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
}

.s-explore-advantages__button {
  position: absolute;
  top: 52%;
  background: transparent;
  border: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.s-explore-advantages__button-prev {
  left: 0.625rem;
}

.s-explore-advantages__button-next {
  right: 0.625rem;
}

.invite-academy .m-section__introtext {
  margin-bottom: 1.5rem;
}

.invite-academy__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  gap: 0.875rem;
}

.invite-academy__image {
  overflow: hidden;
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
}

.invite-academy__image img {
  width: 100%;
  height: auto;
}

.invite-academy__col {
  min-width: 0;
}

.invite-academy__col--media {
  display: none;
}

.invite-academy__media {
  position: relative;
  height: 100%;
}

.invite-academy__media-image {
  width: 100%;
  height: auto;
}

.invite-academy__media-image--2 {
  position: absolute;
  right: 1.5rem;
  top: 18.125rem;
  width: 21.5625rem;
  height: 29.3125rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.invite-academy__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.invite-academy__form-item {
  margin-bottom: 0.9375rem;
}

.invite-academy__form-item--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1.6875rem 0;
}

.invite-academy__form-item--checkbox span {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  text-align: left;
}

.invite-academy__form-item--checkbox span a {
  text-decoration: underline;
}

.invite-academy__form-label {
  display: block;
  margin-bottom: 0.9375rem;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.5625rem;
  text-transform: uppercase;
  color: #8E8E8E;
  letter-spacing: 4%;
}

.invite-academy__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fill-available;
  height: 2.75rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: var(--color-dark);
  border: 0.0625rem solid #E5E5E5;
  border-radius: 0.375rem;
  background-color: #fff;
  outline: none;
  letter-spacing: 0.0075rem;
}

.invite-academy__form-input.error {
  border-bottom: 0.0625rem solid red;
}

.invite-academy__form-input::-webkit-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-grey);
  letter-spacing: 0.0075rem;
}

.invite-academy__form-input::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-grey);
  letter-spacing: 0.0075rem;
}

.invite-academy__form-input:-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-grey);
  letter-spacing: 0.0075rem;
}

.invite-academy__form-input::-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-grey);
  letter-spacing: 0.0075rem;
}

.invite-academy__form-input::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-grey);
  letter-spacing: 0.0075rem;
}

.invite-academy__form-input--checkbox {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.9375rem;
}

.invite-academy__form-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 1.875rem;
  padding: 0 1.5rem;
  font-size: 0.625rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  color: #fff;
  background: #404040;
  border: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  outline: none;
}

.invite-academy__form-button:hover {
  opacity: .8;
}

.s-primary-school-intro {
  z-index: 1;
}

.s-primary-school-intro .m-breadcrumbs {
  display: none;
}

.s-primary-school-intro__wrapper {
  position: relative;
  overflow: visible;
}

.s-primary-school-intro .m-section__introtext {
  margin-bottom: 1.5rem;
}

.s-primary-school-intro__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.s-primary-school-intro__info {
  position: relative;
  max-width: 41.875rem;
}

.s-primary-school-intro__title {
  margin: 0 0 0.3125rem;
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 2.125rem;
}

.s-primary-school-intro__title span {
  display: block;
  margin: 0 0 1.5rem;
  font-family: 'Didona', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.s-primary-school-intro__text {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.s-primary-school-intro__image {
  z-index: 1;
  position: relative;
  padding-top: 1rem;
}

.s-primary-school-intro__image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.s-primary-school-intro__image figcaption {
  margin-top: 0.3125rem;
  font-family: 'Playfair Display', serif;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  color: #8E8E8E;
  font-style: italic;
}

.s-primary-school-intro__bottom-image {
  display: none;
}

.s-primary-school-intro__bottom-image img {
  width: 31.0625rem;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.s-primary-school-quote {
  position: relative;
  z-index: 0;
}

.s-primary-school-quote::after {
  position: absolute;
  right: 0.49%;
  bottom: 0;
  left: 0;
  left: -0.49%;
  height: 3.75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 249, 240, 0.8)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, rgba(255, 249, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(255, 249, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
}

.s-primary-school-quote::before {
  position: absolute;
  right: 0.49%;
  bottom: 3.75rem;
  left: 0;
  left: -0.49%;
  height: 3.75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 249, 240, 0.8)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, rgba(255, 249, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(255, 249, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  content: '';
}

.s-primary-school-quote__wrapper {
  padding-top: 0;
  padding-bottom: 1.5rem;
}

.s-primary-school-quote__text {
  z-index: 1;
  position: relative;
  max-width: 65.3125rem;
  margin: 0 auto;
  font-family: "Playfair Display", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.375rem;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.00937rem;
}

.s-universal-video .m-section__introtext {
  max-width: 50.1875rem;
}

.s-articles-inspiration .m-section__introtext {
  max-width: 48.125rem;
}

@media (min-width: 575px) {
  .s-articles-inspiration__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .s-explore-advantages__slider {
    margin: 0 -1.25rem;
  }

  .s-explore-advantages__slide:not(:last-child) {
    border-right: 0.04688rem solid var(--color-dark);
  }

  .s-explore-advantages__item {
    padding: 0 1.25rem;
  }
}

@media (min-width: 768px) {
  .features-training__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .subjects-studied__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .s-articles-inspiration__card--text {
    padding: 2.5rem 2.75rem;
    font-size: 1.0625rem;
    line-height: 147%;
    letter-spacing: 0.01063rem;
  }

  .s-explore-advantages .s-explore-advantages__slide:nth-child(1) .s-explore-advantages__item {
    padding-left: calc(20px * 1);
  }

  .s-explore-advantages .s-explore-advantages__slide:nth-child(3) .s-explore-advantages__item {
    padding-right: calc(20px * 1);
  }

  .s-explore-advantages__slider {
    margin: 0 -1.875rem;
  }

  .s-explore-advantages__item {
    padding: 0 1.875rem;
  }

  .s-explore-advantages__item-image img {
    width: 20.875rem;
    height: 44.375rem;
    max-width: 100%;
  }

  .s-explore-advantages__item-alt {
    margin-bottom: 1.25rem;
  }

  .s-explore-advantages__item-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.0075rem;
  }

  .invite-academy__form-button {
    height: 2.5rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .s-primary-school-intro__wrapper {
    padding: 5.625rem 0 2.5rem;
  }

  .s-primary-school-intro__wrapper::after {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: -15%;
    width: 18.0625rem;
    height: 22.4375rem;
    background-image: url("data:image/svg+xml,%3Csvg width='289' height='359' viewBox='0 0 289 359' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='61' width='228' height='9' fill='%23E0D2C0' fill-opacity='0.2'/%3E%3Crect y='73' width='176' height='60' fill='%23E0D2C0' fill-opacity='0.2'/%3E%3Crect x='57' y='327' width='176' height='32' fill='%23E0D2C0' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }

  .s-primary-school-intro__wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .s-primary-school-intro__info {
    margin-right: 0.9375rem;
  }

  .s-primary-school-intro__image {
    width: 50%;
    padding-top: 1.875rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  .s-primary-school-intro__image img {
    max-width: 25rem;
    border-radius: 0.625rem;
  }

  .s-primary-school-intro__image figcaption {
    text-align: right;
  }

  .s-primary-school-intro__bottom-image {
    z-index: 2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -9.375rem;
  }

  .s-primary-school-quote::after {
    height: 9.25rem;
  }

  .s-primary-school-quote::before {
    bottom: 9.25rem;
    height: 9.25rem;
  }
}

@media (min-width: 992px) {
  .international-team__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem 4.0625rem;
  }

  .international-team__card {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    border: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .international-team__card-photo {
    margin-bottom: 1.875rem;
    margin-left: 0;
  }

  .international-team__card-photo img {
    max-width: 100%;
  }

  .international-team__card-name {
    margin-bottom: 0.4375rem;
    font-size: 1.625rem;
    line-height: 1.3;
    letter-spacing: 0.0325rem;
  }

  .international-team__card-position {
    margin-bottom: 1.5625rem;
    font-size: 1.0625rem;
    line-height: 1.5625rem;
    letter-spacing: 0.01063rem;
  }

  .international-team__card-text {
    display: block;
    font-family: "Roboto Light", sans-serif;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.5625rem;
    letter-spacing: 0.01063rem;
  }

  .invite-academy .m-section__introtext {
    margin-bottom: 3.125rem;
  }

  .invite-academy__wrap {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
  }

  .invite-academy__image {
    display: none;
  }

  .invite-academy__col--media {
    display: block;
  }

  .s-primary-school-intro .m-section__introtext {
    margin-bottom: 3.125rem;
  }

  .s-primary-school-intro__title {
    font-size: 2.625rem;
    line-height: 3.375rem;
  }

  .s-primary-school-intro__title span {
    margin: 0 0 2.5rem;
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: 0.02625rem;
  }

  .s-primary-school-quote__wrapper {
    padding-top: 3.625rem;
    padding-bottom: 3.625rem;
  }

  .s-primary-school-quote__text {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.8125rem;
    font-style: normal;
    letter-spacing: 0.01875rem;
  }
}

@media (min-width: 1024px) {
  .features-training__card-wrapper {
    padding: 0.625rem 1.5rem;
  }

  .features-training__card-icon {
    width: 4.375rem;
    height: 4.375rem;
    margin-bottom: 0.625rem;
  }

  .subjects-studied__card-info {
    padding: 2rem;
  }

  .subjects-studied__card-icon {
    width: 3.4375rem;
    height: 3.4375rem;
    margin-bottom: 0.625rem;
  }

  .s-articles-inspiration__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .s-explore-advantages .s-explore-advantages__slide:nth-child(1) .s-explore-advantages__item {
    padding-left: 0;
  }

  .s-explore-advantages .s-explore-advantages__slide:nth-child(3) .s-explore-advantages__item {
    padding-right: 0;
  }

  .s-explore-advantages__slider {
    margin: 0;
  }

  .s-explore-advantages__item-title {
    font-size: 1.625rem;
    line-height: 2.0625rem;
  }

  .s-primary-school-intro .m-breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.375rem;
  }

  .s-primary-school-intro__info {
    margin-right: 3.125rem;
  }

  .s-primary-school-intro__text {
    display: block;
    font-size: 1.0625rem;
    line-height: 1.5625rem;
  }

  .s-primary-school-intro__image {
    width: 31.25rem;
  }

  .s-primary-school-intro__image img {
    max-width: 31.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .features-training__card-title {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }

  .subjects-studied__card-title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .subjects-studied__card-text {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}

@media screen and (min-width: 1200px) {
  .font-h1-didona {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.025rem;
  }

  .font-h1 {
    font-size: 2.625rem;
    line-height: 3.375rem;
  }

  .font-h2 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .font-h2-light {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .font-text-s {
    font-size: 1.0625rem;
    line-height: 1.5625rem;
  }

  .font-button {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

@media (min-width: 1200px) {
  .features-training__cards {
    gap: 1.875rem 3.3125rem;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .subjects-studied__cards {
    gap: 3.3125rem 1.0625rem;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .s-explore-advantages__item {
    padding: 0 3.125rem;
  }
}

@media (min-width: 1440px) {
  .s-primary-school-intro__wrapper {
    padding: 6.6875rem 0 2.5rem;
  }
}

@media screen {
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pt-0 {
    padding-top: 0;
  }

  .mx-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .mt-0 {
    margin-top: 0;
  }

  .br-0 {
    border-radius: 0;
  }
}
/*# sourceMappingURL=maps/page_primary_school.css.map */
