:root {
  --color-dark: #1f1e20;
  --color-sand: #d9c6a9;
  --color-middle-sand: #fffbf2;
  --color-light-sand: #d9c6a9;
  --color-crayola: #d1d997;
  --color-middle-crayola: #e8eccb;
  --color-grey: #a7a7a7;
  --color-middle-grey: #e5e5e5;
  --color-light-grey: #f9f9f9;
  --color-white: #fff;
  --color-light-white: rgba(255, 255, 255, 0.8);
}

:root {
  --a-padding--x1: 0.25rem;
  --a-padding--x2: 0.5rem;
  --a-padding--x3: 0.75rem;
  --a-padding--x4: 1rem;
  --a-padding--x5: 1.25rem;
  --a-padding--x6: 1.5rem;
  --a-padding--x7: 1.75rem;
  --a-padding--x8: 2rem;
  --a-padding--x9: 2.25rem;
  --a-padding--x10: 2.5rem;
  --a-padding--x11: 2.75rem;
  --a-padding--x12: 3rem;
  --a-padding--x13: 3.25rem;
  --a-padding--x14: 3.5rem;
  --a-padding--x15: 3.75rem;
  --a-padding--x16: 4rem;
  --a-padding--x17: 4.25rem;
  --a-padding--x18: 4.5rem;
  --a-padding--x19: 4.75rem;
  --a-padding--x20: 5rem;
}

:root {
  --a-borderRadius--x1: 0.25rem;
  --a-borderRadius--x2: 0.5rem;
  --a-borderRadius--x3: 0.75rem;
  --a-borderRadius--x4: 1rem;
  --a-borderRadius--x5: 1.25rem;
  --a-borderRadius--x6: 1.5rem;
  --a-borderRadius--x7: 1.75rem;
  --a-borderRadius--x8: 2rem;
  --a-borderRadius--x9: 2.25rem;
  --a-borderRadius--x10: 2.5rem;
  --a-borderRadius--x11: 2.75rem;
  --a-borderRadius--x12: 3rem;
  --a-borderRadius--x13: 3.25rem;
  --a-borderRadius--x14: 3.5rem;
  --a-borderRadius--x15: 3.75rem;
  --a-borderRadius--x16: 4rem;
  --a-borderRadius--x17: 4.25rem;
  --a-borderRadius--x18: 4.5rem;
  --a-borderRadius--x19: 4.75rem;
  --a-borderRadius--x20: 5rem;
  --a-borderRadius--x21: 5.25rem;
  --a-borderRadius--x22: 5.5rem;
  --a-borderRadius--x23: 5.75rem;
  --a-borderRadius--x24: 6rem;
  --a-borderRadius--x25: 6.25rem;
  --a-borderRadius--def: var(--a-borderRadius--x4);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.font-h1-didona {
  font-family: 'Didona', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.font-h2-didona {
  font-family: 'Didona', sans-serif;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.0625rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.font-h3-didona {
  font-family: 'Didona', sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 2.125rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.font-h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 2.125rem;
}

.font-h2 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.01em;
}

.font-h2-medium {
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.875rem;
}

.font-h2-light {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.625rem;
  letter-spacing: 0.01em;
}

.font-text-m {
  font-family: "Roboto Light", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 2.1875rem;
}

.font-text-s {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
}

.font-button {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.625rem;
}

.font-menu {
  font-family: "Roboto Light", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.s-page-intro__wrapper {
  position: relative;
}

.s-page-intro__content {
  position: absolute;
  top: 0;
  max-width: 75%;
  margin: 0 auto;
}

.s-page-intro__image {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 80px);
  min-height: 26.875rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
}

.s-page-intro__info {
  max-width: 60%;
  padding: 2.9375rem 0;
}

.s-page-intro__info .m-breadcrumbs {
  display: none;
}

.s-page-intro__title {
  margin: 0 0 0.3125rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.3125rem;
}

.s-page-intro__text {
  margin: 0 0 1.5rem;
  font-family: 'Didona', sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.s-page-intro__introtext {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
}

:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(../img/global/arrow-select.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}

.s-our-leaders .m-section__wrapper {
  padding-top: 0;
}

.s-our-leaders .m-section__headline {
  border-top: 0.0625rem solid var(--color-dark);
}

.s-our-leaders__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.s-our-leaders__search-input {
  width: 100%;
  height: 2.5rem;
  max-width: 35.625rem;
  margin-bottom: 0.625rem;
  padding: 0.25rem 0.625rem;
  border: 0.0625rem solid var(--color-middle-grey);
  border-radius: 0.1875rem;
  outline: none;
}

.s-our-leaders__search-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #fff;
  background: #404040;
  border: 0;
  border-radius: 0.1875rem;
  -webkit-transition: .8s background ease;
  -o-transition: .8s background ease;
  transition: .8s background ease;
  font-style: normal;
}

.s-our-leaders__search-button:hover {
  background: var(--color-dark);
}

.s-our-leaders__filters {
  margin-bottom: 1.5rem;
}

.s-our-leaders__filters fieldset {
  padding: 0;
  border: 0;
}

.s-our-leaders__filters-title {
  margin-bottom: 0.625rem;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  font-style: normal;
}

.s-our-leaders__select {
  cursor: pointer;
  padding: 0.6875rem 2.5rem 0.6875rem 1.0625rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-grey);
  background: var(--color-white);
  background: var(--arrow-icon) no-repeat right 0.8em center/1.4em, -webkit-gradient(linear, right top, left top, color-stop(3em, var(--arrow-bg)), color-stop(3em, var(--select-bg)));
  background: var(--arrow-icon) no-repeat right 0.8em center/1.4em, -o-linear-gradient(right, var(--arrow-bg) 3em, var(--select-bg) 3em);
  background: var(--arrow-icon) no-repeat right 0.8em center/1.4em, linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  border: 0.0625rem solid var(--color-middle-grey);
  border-radius: 0.125rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove IE arrow */
  /* Remove focus outline */
}

.s-our-leaders__select::-ms-expand {
  display: none;
}

.s-our-leaders__select:focus {
  outline: none;
}

.s-our-leaders__items {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
}

.s-our-leaders__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-top: 0.0625rem solid var(--color-middle-grey);
}

.s-our-leaders__card:hover .s-our-leaders__card-photo img {
  scale: 1.05;
}

.s-our-leaders__card-photo {
  margin-left: 0.9375rem;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  overflow: hidden;
  position: relative;
}

.s-our-leaders__card-photo img {
  width: 100%;
  height: auto;
  max-width: 9.375rem;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: scale .75s ease-in-out;
  -o-transition: scale .75s ease-in-out;
  transition: scale .75s ease-in-out;
}

.s-our-leaders__card-name {
  margin-bottom: 0.25rem;
  font-family: 'Didona', sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.00813rem;
}

.s-our-leaders__card-position {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: var(--color-grey);
  font-style: normal;
  letter-spacing: 0.0075rem;
}

.s-our-leaders__card-text {
  display: none;
}

.s-our-leaders__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.875rem 0;
  list-style: none;
  border-top: 0.0625rem solid var(--color-dark);
  border-bottom: 0.0625rem solid var(--color-dark);
}

.s-our-leaders__pagination-page {
  cursor: pointer;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.5625rem;
  font-style: normal;
  letter-spacing: 0.01063rem;
}

.s-our-leaders__pagination-page:not(:last-child) {
  margin-right: 1.875rem;
}

.s-our-leaders__pagination-page.is-active {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.s-our-leaders__pagination-link {
  cursor: pointer;
}

.s-our-leaders__pagination-link .disabled {
  cursor: default;
}

.s-our-leaders__pagination-skip {
  cursor: default;
  pointer-events: none;
}

.s-our-leaders__pagination-prev {
  margin-right: 2.125rem;
}

.s-our-leaders__pagination-prev.disabled {
  cursor: default;
  color: var(--color-grey);
  pointer-events: none;
}

.s-our-leaders__pagination-next {
  margin-left: 0.25rem;
}

.s-our-leaders__pagination-next.disabled {
  cursor: default;
  color: var(--color-grey);
  pointer-events: none;
}

.ui-menu-item-wrapper .s-our-leaders__card {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ui-menu-item-wrapper .s-our-leaders__card-photo {
  width: 6rem;
  margin-bottom: 0;
}

.ui-menu-item-wrapper .s-our-leaders__card-photo img {
  width: 100%;
  height: auto;
}

@media (min-width: 475px) {
  .s-page-intro__info {
    max-width: 80%;
  }
}

@media (min-width: 600px) {
  .s-our-leaders__search {
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .s-our-leaders__search-input {
    margin-right: 0.625rem;
    margin-bottom: 0;
  }

  .s-our-leaders__search-button {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 768px) {
  .s-page-intro__content {
    max-width: 50%;
  }

  .s-page-intro__info {
    max-width: 100%;
    padding: 5.625rem 0;
  }
}

@media (min-width: 992px) {
  .s-page-intro__title {
    font-size: 2.625rem;
    font-weight: 100;
    line-height: 3.375rem;
  }

  .s-page-intro__text {
    margin: 0 0 2.5rem;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.0275rem;
  }

  .s-our-leaders__items {
    margin-bottom: 4.625rem;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem 1.875rem;
  }

  .s-our-leaders__card {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    border: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .s-our-leaders__card-photo {
    margin-bottom: 1.875rem;
    margin-left: 0;
  }

  .s-our-leaders__card-photo img {
    max-width: 100%;
  }

  .s-our-leaders__card-name {
    margin-bottom: 0.4375rem;
    font-size: 1.625rem;
    line-height: 1.3;
    letter-spacing: 0.0325rem;
  }

  .s-our-leaders__card-position {
    margin-bottom: 1.5625rem;
    font-size: 1.0625rem;
    line-height: 1.5625rem;
    letter-spacing: 0.01063rem;
  }

  .s-our-leaders__card-text {
    display: block;
    font-size: 1.0625rem;
    line-height: 1.5625rem;
    letter-spacing: 0.01063rem;
  }
}

@media (min-width: 1024px) {
  .s-page-intro__info .m-breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.375rem;
  }

  .s-page-intro__introtext {
    display: block;
    max-width: 43.75rem;
    font-size: 1.0625rem;
    line-height: 1.5625rem;
  }

  .s-our-leaders__pagination {
    padding: 4.375rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .font-h1-didona {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.025rem;
  }

  .font-h1 {
    font-size: 2.625rem;
    line-height: 3.375rem;
  }

  .font-h2 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .font-h2-light {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .font-text-s {
    font-size: 1.0625rem;
    line-height: 1.5625rem;
  }

  .font-button {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

@media (min-width: 1336px) {
  .s-page-intro__content {
    max-width: 77.5rem;
  }
}

@media (min-width: 1440px) {
  .s-page-intro__info {
    max-width: 43.75rem;
    padding: 6.6875rem 0;
  }
}

@media (max-width: 767px) {
  .s-our-leaders .m-section__headline {
    padding-top: 2.6875rem;
    padding-bottom: 0;
  }
}

@media screen {
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pt-0 {
    padding-top: 0;
  }

  .mx-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .mt-0 {
    margin-top: 0;
  }

  .br-0 {
    border-radius: 0;
  }
}
/*# sourceMappingURL=maps/page_employees.css.map */
