:root {
  --color-dark: #1f1e20;
  --color-sand: #d9c6a9;
  --color-middle-sand: #fffbf2;
  --color-light-sand: #d9c6a9;
  --color-crayola: #d1d997;
  --color-middle-crayola: #e8eccb;
  --color-grey: #a7a7a7;
  --color-middle-grey: #e5e5e5;
  --color-light-grey: #f9f9f9;
  --color-white: #fff;
  --color-light-white: rgba(255, 255, 255, 0.8);
}

:root {
  --a-padding--x1: 0.25rem;
  --a-padding--x2: 0.5rem;
  --a-padding--x3: 0.75rem;
  --a-padding--x4: 1rem;
  --a-padding--x5: 1.25rem;
  --a-padding--x6: 1.5rem;
  --a-padding--x7: 1.75rem;
  --a-padding--x8: 2rem;
  --a-padding--x9: 2.25rem;
  --a-padding--x10: 2.5rem;
  --a-padding--x11: 2.75rem;
  --a-padding--x12: 3rem;
  --a-padding--x13: 3.25rem;
  --a-padding--x14: 3.5rem;
  --a-padding--x15: 3.75rem;
  --a-padding--x16: 4rem;
  --a-padding--x17: 4.25rem;
  --a-padding--x18: 4.5rem;
  --a-padding--x19: 4.75rem;
  --a-padding--x20: 5rem;
}

:root {
  --a-borderRadius--x1: 0.25rem;
  --a-borderRadius--x2: 0.5rem;
  --a-borderRadius--x3: 0.75rem;
  --a-borderRadius--x4: 1rem;
  --a-borderRadius--x5: 1.25rem;
  --a-borderRadius--x6: 1.5rem;
  --a-borderRadius--x7: 1.75rem;
  --a-borderRadius--x8: 2rem;
  --a-borderRadius--x9: 2.25rem;
  --a-borderRadius--x10: 2.5rem;
  --a-borderRadius--x11: 2.75rem;
  --a-borderRadius--x12: 3rem;
  --a-borderRadius--x13: 3.25rem;
  --a-borderRadius--x14: 3.5rem;
  --a-borderRadius--x15: 3.75rem;
  --a-borderRadius--x16: 4rem;
  --a-borderRadius--x17: 4.25rem;
  --a-borderRadius--x18: 4.5rem;
  --a-borderRadius--x19: 4.75rem;
  --a-borderRadius--x20: 5rem;
  --a-borderRadius--x21: 5.25rem;
  --a-borderRadius--x22: 5.5rem;
  --a-borderRadius--x23: 5.75rem;
  --a-borderRadius--x24: 6rem;
  --a-borderRadius--x25: 6.25rem;
  --a-borderRadius--def: var(--a-borderRadius--x4);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.font-h1-didona {
  font-family: 'Didona', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.font-h2-didona {
  font-family: 'Didona', sans-serif;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.0625rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.font-h3-didona {
  font-family: 'Didona', sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 2.125rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.font-h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 2.125rem;
}

.font-h2 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.01em;
}

.font-h2-medium {
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.875rem;
}

.font-h2-light {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.625rem;
  letter-spacing: 0.01em;
}

.font-text-m {
  font-family: "Roboto Light", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 2.1875rem;
}

.font-text-s {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
}

.font-button {
  font-family: "Roboto Light", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.625rem;
}

.font-menu {
  font-family: "Roboto Light", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.s-explore-one-day__image {
  width: 100%;
  height: auto;
}

.s-explore-one-day__item:first-child .s-explore-one-day__item-button {
  border-top: 0;
}

.s-explore-one-day__item.is-open .s-explore-one-day__item-arrow::after {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.s-explore-one-day__item.is-open .s-explore-one-day__item-content {
  height: auto;
  padding: 1.875rem 0 0.8125rem;
  opacity: 1;
  -webkit-transition: opacity 500ms ease 0ms;
  -o-transition: opacity 500ms ease 0ms;
  transition: opacity 500ms ease 0ms;
  border-top: 0.0625rem solid var(--color-dark);
}

.s-explore-one-day__item-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.9375rem 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-color: transparent;
  border-top: 0.0625rem solid var(--color-dark);
}

.s-explore-one-day__item-button.is-open .s-explore-one-day__item-info {
  border-color: var(--color-dark);
}

.s-explore-one-day__item-arrow {
  position: relative;
}

.s-explore-one-day__item-arrow::after {
  position: absolute;
  top: calc(50% - 1px);
  right: 20px;
  width: 20px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  background-color: var(--color-dark);
  content: "";
}

.s-explore-one-day__item-arrow::before {
  position: absolute;
  top: calc(50% - 1px);
  right: 20px;
  width: 20px;
  height: 1px;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  background-color: var(--color-dark);
  content: "";
}

.s-explore-one-day__item-info {
  padding: 0.1875rem 0;
  font-family: "Playfair Display", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  -webkit-transition: border 0.2ms ease-in-out;
  -o-transition: border 0.2ms ease-in-out;
  transition: border 0.2ms ease-in-out;
  border-bottom: 0.125rem solid;
  border-color: transparent;
  font-style: normal;
}

.s-explore-one-day__item-time {
  display: inline-block;
  margin-right: 1.625rem;
}

.s-explore-one-day__item-content {
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.s-explore-one-day__item-subtitle {
  margin-bottom: 0.9375rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.00813rem;
}

.s-explore-one-day__item-text {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
}

.s-explore-include__list {
  display: -ms-grid;
  display: grid;
  padding: 2rem 0;
  border-top: 0.0625rem solid var(--color-dark);
  border-bottom: 0.0625rem solid var(--color-dark);
  gap: 1.25rem;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
}

.s-explore-include__card {
  min-width: 0;
  padding: 0 1.125rem;
}

.s-explore-include__card-title {
  margin-bottom: 1.25rem;
  font-family: 'Didona', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.0125rem;
}

.s-explore-include__card-link {
  position: relative;
  display: block;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.s-explore-include__card-link::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.375rem;
  height: 0.625rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.08618L6.30957 5.59813L1 10.1101' stroke='%23A7A7A7' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
}

.s-explore-include__card-text {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
  font-style: normal;
  text-align: justify;
}

.s-explore-advantages__slider {
  overflow: hidden;
}

.s-explore-advantages__slide {
  height: auto;
}

.s-explore-advantages__item {
  padding-right: 1rem;
  padding-left: 1rem;
}

.s-explore-advantages__item-image {
  margin-bottom: 0.625rem;
}

.s-explore-advantages__item-image img {
  width: 100%;
  max-width: 20.8125rem;
  max-height: 31.875rem;
  margin: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.s-explore-advantages__item-alt {
  margin-bottom: 1.875rem;
  font-family: 'Playfair Display', serif;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  color: var(--color-grey);
  font-style: italic;
  letter-spacing: 0.00688rem;
}

.s-explore-advantages__item-title {
  margin-bottom: 1.25rem;
  font-family: 'Didona', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.0125rem;
}

.s-explore-advantages__item-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
  text-align: justify;
}

.s-explore-advantages__item-title {
  display: block;
}

.s-explore-advantages__item-link {
  position: relative;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
}

.s-explore-advantages__item-link::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.375rem;
  height: 0.625rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.08618L6.30957 5.59813L1 10.1101' stroke='%23A7A7A7' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
}

.s-explore-advantages__button {
  position: absolute;
  top: 52%;
  background: transparent;
  border: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.s-explore-advantages__button-prev {
  left: 0.625rem;
}

.s-explore-advantages__button-next {
  right: 0.625rem;
}

.s-explore-storytellers {
  overflow: hidden;
}

.s-explore-storytellers .m-section__wrapper {
  overflow: visible;
}

.s-explore-storytellers__slider {
  position: relative;
}

.s-explore-storytellers__slide {
  overflow: hidden;
}

.s-explore-storytellers__card {
  padding: 0 1rem;
}

.s-explore-storytellers__card-cover img {
  width: 100%;
  height: auto;
}

.s-explore-storytellers__card-info {
  padding: 1.5625rem;
  background: rgba(255, 249, 240, 0.8);
}

.s-explore-storytellers__card-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.1875rem;
  font-style: normal;
}

.s-explore-storytellers__card-age {
  margin-bottom: 0.75rem;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.5625rem;
  font-style: normal;
  letter-spacing: 0.01063rem;
}

.s-explore-storytellers__card-text {
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.5625rem;
  font-style: normal;
  letter-spacing: 0.01063rem;
}

.s-explore-storytellers__button {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  background: transparent;
  border: 0;
}

.s-explore-storytellers__button.swiper-button-disabled {
  display: none;
}

.s-explore-storytellers__button-prev {
  left: -0.625rem;
}

.s-explore-storytellers__button-next {
  right: -0.625rem;
}

.s-explore-education {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 249, 240, 0.8)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, rgba(255, 249, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(255, 249, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.s-explore-education__list {
  display: -ms-grid;
  display: grid;
  max-width: 69.1875rem;
  margin: 1.125rem auto 1.875rem;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  gap: 0.9375rem;
}

.s-explore-education__card {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.s-explore-education__card-cover {
  width: 10.3125rem;
}

.s-explore-education__card-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.s-explore-education__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.6875rem;
  background: var(--color-white);
}

.s-explore-education__card-title {
  margin-bottom: 0.3125rem;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.00688rem;
}

.s-explore-education__card-text {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.0625rem;
  font-style: normal;
}

.s-explore-education__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2.5rem;
  margin: 0 auto 1.25rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  font-family: "Playfair Display", sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-sand);
  font-style: normal;
  letter-spacing: 0.0125rem;
}

.s-explore-education__text {
  max-width: 57.6875rem;
  margin: 0 auto;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  text-align: center;
  font-style: normal;
}

@media (min-width: 600px) {
  .s-explore-advantages__slider {
    margin: 0 -1.25rem;
  }

  .s-explore-advantages__slide:not(:last-child) {
    border-right: 0.04688rem solid var(--color-dark);
  }

  .s-explore-advantages__item {
    padding: 0 1.25rem;
  }
}

@media (min-width: 768px) {
  .s-explore-one-day__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .s-explore-one-day__items {
    width: 18.75rem;
    margin-top: 1.875rem;
    margin-left: 1.875rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  .s-explore-include__card-title {
    margin-bottom: 1.125rem;
    font-size: 1.625rem;
    line-height: 2.125rem;
    letter-spacing: 0.03125rem;
  }

  .s-explore-include__card-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .s-explore-advantages .s-explore-advantages__slide:nth-child(1) .s-explore-advantages__item {
    padding-left: calc(20px * 1);
  }

  .s-explore-advantages .s-explore-advantages__slide:nth-child(3) .s-explore-advantages__item {
    padding-right: calc(20px * 1);
  }

  .s-explore-advantages__slider {
    margin: 0 -1.875rem;
  }

  .s-explore-advantages__item {
    padding: 0 1.875rem;
  }

  .s-explore-advantages__item-image img {
    width: 20.875rem;
    height: 44.375rem;
    max-width: 100%;
  }

  .s-explore-advantages__item-alt {
    margin-bottom: 1.25rem;
  }

  .s-explore-advantages__item-title {
    font-size: 1.625rem;
    line-height: 2.0625rem;
  }

  .s-explore-advantages__item-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.0075rem;
  }

  .s-explore-storytellers .m-section__wrapper {
    overflow: visible;
  }

  .s-explore-education__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .s-explore-education__tag {
    height: 3.125rem;
    margin: 0 auto 3.125rem;
    font-size: 1rem;
  }

  .s-explore-education__text {
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.5625rem;
    letter-spacing: 0.01063rem;
  }
}

@media (min-width: 992px) {
  .s-explore-one-day__items {
    width: 23.125rem;
  }

  .s-explore-one-day__item.is-open .s-explore-one-day__item-content {
    padding: 1.5625rem 0;
  }

  .s-explore-one-day__item-button {
    padding: 1.5625rem 0;
  }

  .s-explore-one-day__item-info {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 2.1875rem;
  }

  .s-explore-one-day__item-time {
    margin-right: 0.8125rem;
  }

  .s-explore-one-day__item-subtitle {
    font-size: 1.0625rem;
    line-height: 1.5625rem;
    text-transform: none;
    letter-spacing: 0.01063rem;
  }

  .s-explore-one-day__item-text {
    font-size: 1.0625rem;
    line-height: 1.5625rem;
  }

  .s-explore-include .m-section__wrapper {
    padding-bottom: 1.25rem;
  }

  .s-explore-include__list {
    padding: 3.125rem 0;
    gap: 2.5rem;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .s-explore-include__card {
    padding: 0;
  }

  .s-explore-storytellers__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .s-explore-storytellers__card-info {
    width: 15.4375rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
}

@media (min-width: 1024px) {
  .s-explore-include__list {
    gap: 2.8125rem;
  }

  .s-explore-include__card:nth-child(2) {
    padding-left: 0.9375rem;
  }

  .s-explore-advantages .s-explore-advantages__slide:nth-child(1) .s-explore-advantages__item {
    padding-left: 0;
  }

  .s-explore-advantages .s-explore-advantages__slide:nth-child(3) .s-explore-advantages__item {
    padding-right: 0;
  }

  .s-explore-advantages__slider {
    margin: 0;
  }

  .s-explore-storytellers__card {
    padding: 0;
    width: 53.75rem;
  }

  .s-explore-storytellers__button-prev {
    left: -1.5rem;
  }

  .s-explore-storytellers__button-next {
    right: 3.125rem;
  }

  .s-explore-education__list {
    height: 100%;
    margin: 2.5rem auto 3.125rem;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.0625rem;
  }

  .s-explore-education__card {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 15.625rem;
    height: 12.5rem;
  }

  .s-explore-education__card--1 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  .s-explore-education__card--2 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  .s-explore-education__card--3 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  .s-explore-education__card--4 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  .s-explore-education__card--5 {
    width: 17.1875rem;
    height: 27.0625rem;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
  }

  .s-explore-education__card--5 .s-explore-education__card-cover img {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .s-explore-education__card--6 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
  }

  .s-explore-education__card--7 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
  }

  .s-explore-education__card:hover .s-explore-education__card-cover {
    display: none;
  }

  .s-explore-education__card:hover .s-explore-education__card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .s-explore-education__card-cover {
    width: 100%;
  }

  .s-explore-education__card-cover img {
    -o-object-fit: none;
    object-fit: none;
  }

  .s-explore-education__card-content {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3.3125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .s-explore-education__card-title {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

@media screen and (min-width: 1200px) {
  .font-h1-didona {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.025rem;
  }

  .font-h1 {
    font-size: 2.625rem;
    line-height: 3.375rem;
  }

  .font-h2 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .font-h2-light {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .font-text-s {
    font-size: 1.0625rem;
    line-height: 1.5625rem;
  }

  .font-button {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

@media (min-width: 1200px) {
  .s-explore-include__list {
    gap: 4.6875rem;
  }

  .s-explore-include__card {
    width: 20.875rem;
  }

  .s-explore-include__card:nth-child(2) {
    padding-left: 1.5625rem;
  }

  .s-explore-advantages__item {
    padding: 0 3.125rem;
  }

  .s-explore-storytellers__card {
    width: 61.25rem;
  }

  .s-explore-storytellers__card-info {
    padding: 3.5rem 1.5rem 2rem;
  }

  .s-explore-storytellers__button-next {
    right: 4.375rem;
  }
}

@media (min-width: 1260px) {
  .s-explore-storytellers__card {
    width: 69rem;
  }
}

@media (min-width: 1336px) {
  .s-explore-storytellers__button-prev {
    left: -2.25rem;
  }

  .s-explore-storytellers__button-next {
    right: 0;
  }
}

@media (max-width: 767px) {
  .s-explore-education__card--even {
    direction: rtl;
  }

  .s-explore-education__card--even .s-explore-education__card-content {
    text-align: left;
  }
}

@media screen {
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pt-0 {
    padding-top: 0;
  }

  .mx-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .mt-0 {
    margin-top: 0;
  }

  .br-0 {
    border-radius: 0;
  }
}
/*# sourceMappingURL=maps/page_explore.css.map */
