.s-header {
  z-index: 12;
  position: relative;
  box-shadow: 0 rem(3) rem(14) rgba(34, 34, 34, 0.1);
  background-color: var(--color-white);
  @include tr('all');

  &__wrapper {
    height: rem(80);
  }

  &__burger {
    z-index: 20;
    cursor: pointer;
    position: relative;
    display: grid;
    width: rem(24);
    height: rem(16);
    border: 0;
    background-color: transparent;
    place-items: center;
    @include tr('all');

    @media (min-width: 1024px) {
      display: none;
    }

    svg {
      width: rem(24);
    }

    // .ic-close {
    //   display: none;
    // }

    // &.is-open {
    //   .ic-close {
    //     display: block;
    //   }

    //   .ic-menu {
    //     display: none;
    //   }
    // }
  }

  &__nav-wrap {
    display: flex;
    align-items: center;
    height: rem(80);
    flex: none;

    @media (min-width: 1190px) {
      width: auto;
      gap: rem(40);
    }
  }

  &__nav {
    &.is-show {
      .s-header__navigation {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--color-white);

    @media (max-width: 1023px) {
      overflow: visible;
      z-index: 10;
      position: fixed;
      top: rem(80);
      right: 0;
      height:auto;
      padding: rem(16) rem(28);
      opacity: 0;
      transition: opacity 0.2s ease;
      overflow-y: auto;
      visibility: hidden;
    }

    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      gap: rem(54);
    }

    &-item {
      position: relative;
      margin-bottom: rem(10);

      @media (min-width: 1024px) {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        transition: background .3s;
        background-image: linear-gradient(0deg, #000, #000);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 0 rem(2);
        content: '';
        height: rem(2);
        width: 100%;
        bottom: 0;

        @media (min-width: 1024px) {
          bottom: rem(-26);
        }
      }

      &:hover::before {
        background-size: 100% rem(2);
      }

      &--request {
        @media (min-width: 1024px) {
          display: none;
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      font-size: rem(14);
      font-weight: 300;
      line-height: rem(21);
      background-color: transparent;
      font-style: normal;

      @media (min-width: 1024px) {
        font-size: rem(16);
        line-height: rem(30);
        letter-spacing: rem(0.16);
      }

      svg {
        margin-left: rem(5);
        font-size: rem(24);
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(28);
    flex: none;

    @media (min-width: 1190px) {
      height: rem(43);
    }

    &-image {
      width: rem(128);
      height: auto;

      @media (min-width: 1336px) {
        width: rem(182);
      }
    }
  }

  &__right-col {
    display: flex;
    align-items: center;
  }

  &__request {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      margin-right: rem(24);
      font-size: rem(16);
      font-weight: 300;
      line-height: rem(30);
      letter-spacing: rem(0.16);
    }

    @media (min-width: 1336px) {
      margin-right: rem(54);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-item {
      cursor: pointer;
      position: relative;
      position: relative;
      display: grid;
      height: rem(32);
      text-transform: uppercase;
      color: var(--color-dark-blue);
      border: 0;
      background-color: transparent;
      outline: none;
      place-items: center;
      transition-duration: 0.4s;

      @media (min-width: 1024px) {
        height: rem(48);
      }

      &--languages {
        width: auto;
      }

      &:not(:last-child)::before {
        position: absolute;
        top: 50%;
        right: 0;
        width: rem(1);
        height: rem(20);
        transform: translateY(-50%);
        content: '';
      }

      .ico {
        font-size: rem(24);
        transition-duration: 0.4s;
      }

      span {
        position: absolute;
        top: rem(2);
        right: rem(2);
        display: grid;
        padding: rem(1) rem(4);
        font-size: rem(7);
        font-weight: 500;
        line-height: rem(9);
        text-align: center;
        color: var(--color-white);
        border-radius: rem(10);
        background-color: var(--color-dark);
        place-items: center;

        @media (min-width: 1024px) {
          top: 0;
          right: 0;
          font-size: rem(9);
          line-height: rem(11);
        }
      }
    }
  }

  &.is-fixed {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: 1s;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
  }

  &__languages {
    display: flex;
    align-items: center;
    height: rem(26);
    margin-right: rem(17);
    border: rem(1) solid var(--color-dark);
  }

  &__language {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(28);
    height: 100%;
    font-size: 18px;
    text-align: center;
    text-transform: none;
    transition-duration: 0.4s;

    &.is-active,
    &:hover {
      color: var(--color-white);
      background-color: var(--color-dark);
    }
  }
}

.m-modal-menu {
  overflow: auto;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  background-color: var(--color-dark);

  &.is-show {
    display: block;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: rem(20);
    right: rem(20);
    border: 0;
    background-color: transparent;

    svg {
      font-size: rem(20);
    }
  }

  &__content {
    padding: rem(44) rem(20);
  }

  &__logo {
    display: block;
    margin-bottom: rem(60);

    img {
      width: rem(215);
      height: auto;
    }
  }

  &__navigation {
    display: flex;
    margin: 0;
    margin-bottom: rem(60);
    padding: 0;
    list-style-type: none;
    flex-direction: column;
    gap: rem(30);

    &-link {
      background-color: transparent;
      transition-duration: 0.4s;
      border-bottom: rem(1) solid;
      border-color: transparent;

      &:hover {
        border-color: var(--color-dark);
      }

      &.is-active {
        border-color: var(--color-white);
      }

      span {
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  &__info {
    &-item {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }

      a {
        cursor: pointer;
        display: block;
        transition-duration: 0.4s;

        &:hover {
          color: var(--color-light-grey);
        }
      }
    }
  }
}

.m-modal-search {
  overflow: auto;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: auto;
  background-color: var(--color-white);

  &.is-show {
    display: block;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: rem(20);
    right: rem(20);
    border: 0;
    background-color: transparent;

    svg {
      font-size: rem(20);
      fill: var(--color-dark);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: rem(126);
    padding: rem(44) rem(20);

    @media (min-width: 768px) {
      min-height: rem(230);
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: rem(260);
    gap: rem(5);

    @media (min-width: 768px) {
      max-width: rem(370);
    }

    &-label {
      width: 100%;
      flex: none;
    }

    &-input {
      width: 100%;
      height: rem(30);
      color: var(--color-dark);
      border: 0;
      border-bottom: rem(1) solid var(--color-dark);
      outline: 0;
      @include font-text-s;

      &::placeholder {
        color: var(--color-grey);
        @include font-text-s;
      }
    }
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(20);
    height: rem(20);
    flex: none;

    svg {
      font-size: rem(20);
    }
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
