+section('s-cookies', '', '', '', false)
  .s-cookies__text
    h1.font-h1 Политика в отношении файлов cookie
    p Данная политика использования файлов cookie показывает, что La Berёzka Academy, Inc. используют файлы cookie и аналогичные технологии для распознавания пользователя, который посещает наш веб-сайт laberezka.com (“Сайт”). В данной политике объясняется, что это за технологии и почему мы их используем, а также ваши права контролировать их использование.
    h2 Что такое Cookie?
    p Файл cookie — это небольшой файл данных, который размещается на вашем устройстве, когда вы посещаете веб-сайт. Файлы cookie широко используются для того, чтобы заставить веб-сайты работать или быть более эффективными, а также для предоставления отчетной информации. Файл cookie может иметь уникальные идентификаторы и находиться, среди прочего, на вашем устройстве, в электронных письмах, которые мы вам отправляем, и на Сайте.
    p Файлы cookie могут устанавливаться нами или третьими лицами, которые предоставляют услуги от нашего имени. Файлы cookie позволяют использовать функции, связанные с нашим сайтом, например, рекламу, интерактивный контент и аналитику. Файлы cookie, созданные определенными третьими лицами, могут распознавать ваше устройство, когда вы посещаете наш сайт, а также когда вы посещаете определенные другие веб-сайты.
    p Мы можем использовать другие технологии, похожие на файлы cookie, такие как веб-маяки, которые иногда называют “отслеживающими пикселями” или “прозрачными gif-файлами”. Это крошечные графические файлы, содержащие уникальный идентификатор, который позволяет нам распознавать, когда кто-то посещал наш сайт или открывал электронное письмо, которое мы им отправили. Во многих случаях правильное функционирование этих технологий зависит от файлов cookie, и поэтому отказ от файлов cookie ухудшит их функционирование.
    h2 Почему мы используем файлы Cookie?
    p Некоторые из файлов cookie необходимы по техническим причинам для работы нашего сайта. Другие обеспечивают более клиентоориентированный сервис работы на нашем сайте, запоминая некоторые ваши действия на Сайте (в том числе с помощью наших плагинов, виджетов и встроенного контента). Другие файлы cookie обеспечивают более релевантную рекламу и улучшенную аналитику.
    p Необходимые файлы cookie.
    p Некоторые файлы cookie необходимы для того, чтобы вы могли перемещаться по нашему сайту. Например, чтобы идентифицировать вас как вошедшего на Сайт или убедиться, что вы подключаетесь к нужному сервису на нашем сайте, когда мы вносим какие-либо изменения в способ работы Сайта.
    p Файлы cookie для функций и сервисов.
    p Некоторые файлы cookie обеспечивают клиентоориентированность работы на нашем сайте. Например, без файлов cookie для запоминания пользовательских настроек и действий вы не смогли бы получить доступ к меню, правам и привилегиям, необходимым для правильной работы на сайте.

    p Файлы cookie для аналитики и персонализации.
    p Некоторые файлы cookie собирают информацию о том, как вы используете Сайт, чтобы помочь нам улучшить использование нашего сайта, а также помочь нам понять, что может вас заинтересовать, и соответствующим образом персонализировать ваш опыт. Такие файлы cookie, например:
    ul
      li генерируют статистику о том, как используется Сайт, в том числе для измерения любых возникающих ошибок или для получения данных о количестве пользователей Сайта, которые просмотрели продукт,
      li тестируют различные дизайны для сайта,
      li помогают нам отслеживать частоту ответов на электронную почту, определять, когда просматриваются наши электронные письма, и отслеживать, пересылаются ли наши электронные письма,
      li собирают или передают такую информацию о вас, как тип вашего браузера и предпочтения в поиске, а также об использовании вами Сайта или сайтов третьих лиц, которые включают часть Сайта.

    p Рекламные файлы cookie.
    p Мы и третьи стороны используем файлы cookie, чтобы сделать рекламу более релевантной для вас. Такие файлы выполняют измерение эффективности рекламы, предотвращение повторного появления одного и того же объявления, обеспечение правильного отображения рекламы и, в некоторых случаях, выбор объявлений, основанных на ваших посещениях нашего сайта и других сайтов.

    p Эти файлы cookie, например:
    p предоставляют рекламным партнерам обратную связь о том, что один из их посетителей также посетил наш Сайт предоставляют нашим рекламодателям данные, относящиеся к объявлениям, которые были показаны вам или на которые вы нажали, а также к дате и времени вашего использования используются, чтобы показывать вам релевантную рекламу за пределами Сайта помогают понять, какие действия вы предпринимаете на Сайте после получения нашей рекламы

    p Сторонние файлы cookie.
    p Мы работаем с поставщиками аналитических услуг, рекламными партнерами и рекламными сетями, которые могут иметь доступ к информации о вашем устройстве, которая является анонимными данными. Другими словами, третьи стороны не собирают такую информацию, как ваше имя, контактные данные или другую личную информацию.

    h2 Как я могу контролировать файлы Cookie?
    p Вы можете отказаться от сбора информации, созданной с помощью файлов cookie или других технологий, с помощью настроек вашего браузера или мобильного устройства. Если вы решите отказаться от файлов cookie, ваш доступ к некоторым функциям и разделам нашего сайта может быть ограничен.
    p В настоящее время наш сайт не поддерживает настройки "Не отслеживать" ("DNT"). DNT - это параметр конфиденциальности, который вы можете установить в своем веб-браузере, чтобы указать, что вы не хотите, чтобы определенная информация о посещениях вашего сайта собиралась на разных сайтах, когда вы не взаимодействовали с этим сервисом на странице.

    h2 ИЗМЕНЕНИЯ И ОБНОВЛЕНИЯ В ПОЛИТИКЕ ИСПОЛЬЗОВАНИЯ ФАЙЛОВ COOKIE
    p Мы можем время от времени обновлять Политику в отношении файлов cookie, чтобы отразить, например, изменения в файлах cookie, которые мы используем, или по другим операционным, юридическим или нормативным причинам. Поэтому, пожалуйста, регулярно просматривайте данную политику, чтобы быть в курсе того, как мы используем файлы cookie и связанные с ними технологии.
    p Вопросы
    p Если у вас есть какие-либо вопросы об использовании нами файлов cookie или других технологий, пожалуйста, напишите нам по адресу support@mojo.education

    h2 Дополнительная информация об аналитике
    p Наш сайт использует Google Analytics, сервис веб-анализа от Google Inc., 1600 Amphitheatre Parkway, Маунтин-Вью, Калифорния 94043, США ("Google"). Google Analytics использует текстовые файлы cookies, которые хранятся на вашем устройстве и позволяют анализировать, как вы используете сайт. Информация, генерируемая файлом cookie (включая IP-адрес), передается и хранится на сервере Google, расположенном в Соединенных Штатах.
    p Google использует информацию от нашего имени для оценки того, как используется Сайт, создания отчетов о действиях на Сайте для операторов Сайта и для предоставления дополнительных услуг, касающихся использования Сайта и Интернета.
    p Кроме того, вы можете предотвратить сбор и обработку данных, созданных файлами cookie, относящихся к использованию вами Сайта (включая ваш IP-адрес) через Google, загрузив и установив плагин для браузера, доступный по следующей ссылке Google Analytics Opt-Out.
    p Вы можете отказаться от использования Google Analytics, перейдя по следующей ссылке. На устройстве будет установлен файл cookie отказа, который предотвращает будущий сбор ваших данных при посещении этого сайта: Для получения дополнительной информации о Google Analytics и методах обеспечения конфиденциальности Google, пожалуйста, ознакомьтесь с их политикой конфиденциальности в разделе Политика конфиденциальности Google.
    p Дополнительную информацию, касающуюся условий использования и конфиденциальности данных, можно найти в Условиях предоставления услуг Google Analytics или в Политике и условиях Google.

    h2 Дополнительная информация о файлах COOKIE
    p Вы можете узнать больше о файлах cookie по адресу www.allaboutcookies.org , Network Advertising Initiative на Network Advertising, и YourAdChoices на AdChoices Opt-Out.
