+section('s-about-change-world', 'Изменить мир к лучшему', 'через образование', 'В LA BERЁZKA мы меняем подход к образованию и жизненную философию, чтобы каждый ребёнок мог развить свой потенциал и становиться лучше каждый день.', false)
  .s-about-change-world__inner
    .s-about-change-world__column.s-about-change-world__column--one
      img(src="./img/s-about-change-world/1.jpg", alt="")
    .s-about-change-world__column.s-about-change-world__column--two
      img(src="./img/s-about-change-world/2.jpg", alt="")
    .s-about-change-world__column.s-about-change-world__column--three
      img(src="./img/s-about-change-world/3.jpg", alt="")
