+section('s-about-change-world', 'Изменить мир к лучшему', 'через образование', 'В LA BERЁZKA мы меняем подход к образованию и жизненную философию, чтобы каждый ребёнок мог развить свой потенциал и становиться лучше каждый день.', false)
