+section("s-universal-text-block", "", "", '', false)
  .s-universal-text-block__content Stepping into an art classroom, you get into an art atelier in Montmartre, opening the door to a laboratory — to the moon or Silicon Valley, where you start studying robotics, 3D modeling and programming"
