.ico-mono-ic-arrow-left {
  width: 1.05em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ic-button-left {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-button-right {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-close {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-eye {
  width: 0.95em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-facebook {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-instagram {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-location {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-mail {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-menu {
  width: 1.7em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-outline-access-time {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-phone {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-quote-bottom {
  width: 0.88em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-quote-top {
  width: 0.88em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ic-star {
  width: 0.96em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-telegram {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-university-10 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-11 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-12 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-13 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-14 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-15 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-2 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-3 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-4 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-5 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-6 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-7 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-8 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-9 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-vk {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ic-whatsapp {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
