.ico-mono-ic-close {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ic-lk {
  width: 0.91em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-ic-menu {
  width: 1.5em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-ic-search {
  width: 1em;
  height: 1em;
  fill: #1F1E20;
}
