.ico-mono-ic-close {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ic-email {
  width: 1em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-ic-linkedin {
  width: 1.03em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-ic-lk {
  width: 0.91em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-ic-menu {
  width: 1.5em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-ic-search {
  width: 1em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-ic-tg {
  width: 1em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-ic-whatsapp {
  width: 1em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-legacy {
  width: 2.4em;
  height: 1em;
  fill: #1F1E20;
}
.ico-mono-tg {
  width: 1.03em;
  height: 1em;
  fill: #fff;
}
