+section("s-article-content", '', '', '', false)
  +m_breadcrumbs(['State of Mind', 'Blog'], 'Inspiration')
  h1.m-section__title.font-h1 Five Children's Books
    p.m-section__subtitle.font-h1-didona With storytelling
  .s-article-content__meta
    .s-article-content__date 22 сентября 2023
    .s-article-content__favorite
      span +2
      <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.6484 17.125C11.1484 17.625 10.3984 17.625 9.89844 17.125L2.21094 9.125C0.273437 7.1875 0.273437 4 2.21094 2C4.14844 0.0624999 7.33594 0.0624999 9.27344 2L10.7734 3.75L12.2109 2C14.1484 0.0624999 17.3359 0.0624999 19.2734 2C21.2109 3.9375 21.2109 7.125 19.2734 9.125L11.6484 17.125Z" fill="#D9C6A9"/>
      </svg>
  .s-article-content__blocks
    .s-article-content__block.s-article-content__block--intro
      .s-article-content__block-wrapper
        .s-article-content__block-cover
          img(src="./img/s-article-content/cover.jpg", alt="")
        .s-article-content__block-text
          p Our Art Atelier is much more than just a place for artistic expression, it's a veritable journey through the great works of the classical painters who gave rise to the greatest movements in the history of painting.
          p Содержание статьи
          ul
            li Кратко о GCE Advanced Level: в чем особенности программы
            li Кратко об International Baccalaureate: как занимаются по этой программе
            li Что общего у IB и A-Level?
            li Есть ли у A-Level и IB существенные отличия?
            li Какая программа дает больше шансов на поступление в топовые вузы Британии и мира?

    .s-article-content__block.s-article-content__block--video
      .s-article-content__block-wrapper
        .s-article-content__block-video
          <iframe width="560" height="315" src="https://www.youtube.com/embed/-CTlz5PJRZs?si=WQ2A4LZlrGXXOyFd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    .s-article-content__block.s-article-content__block--info
      .s-article-content__block-wrapper
        .s-article-content__block-col-left
          figure.s-article-content__block-image
            img(src="./img/s-article-content/block-image-1.jpg", alt="")
            figcaption Caption Art Atelier
        .s-article-content__block-col-right
          .s-article-content__block-text
            h2 Our art atelier
            p Our Art Atelier is much more than just a place for artistic expression, it's a veritable journey through the great works of the classical painters who gave rise to the greatest movements in the history of painting. However, we also explore various types of art, from sculptures to art installations, photography and much more. Our aim is to enable our students to develop a holistic understanding of art in all its forms. Beyond artistic practice, our workshop also aims to cultivate our students' aesthetic intelligence. This means they learn to appreciate art, analyze and interpret works, understand artists' aesthetic choices and develop their own artistic sensibility. Our Art Atelier is much more than just a place for artistic expression, it's a veritable journey through the great works of the classical painters who gave rise to the greatest movements in the history of painting. However, <a href="#">we also explore various types of art</a>, from sculptures to art installations, photography and much more. Our aim is to enable our students to develop a holistic understanding of art in all its forms.

    .s-article-content__block.s-article-content__block--gallery
      .s-article-content__block-wrapper
        .s-article-content__block-col--zero
        .s-article-content__block-col--info
          .s-article-content__gallery
            .s-article-content__gallery-card
              figure.s-article-content__gallery-card-image
                img(src="./img/s-article-content/gallery-1.jpg", alt="")
                figcaption Caption Art Atelier

            .s-article-content__gallery-card
              figure.s-article-content__gallery-card-image
                img(src="./img/s-article-content/gallery-2.jpg", alt="")
                figcaption Caption Art Atelier

    .s-article-content__block.s-article-content__block--info
      .s-article-content__block-wrapper
        .s-article-content__block-col-left
          figure.s-article-content__block-image
            img(src="./img/s-article-content/block-image-2.jpg", alt="")
            figcaption Caption Art Atelier
        .s-article-content__block-col-right
          .s-article-content__block-text
            p Our Art Atelier is much more than just a place for artistic expression, it's a veritable journey through the great works of the classical painters who gave rise to the greatest movements in the history of painting. However, we also explore various types of art, from sculptures to art installations, photography and much more. Our aim is to enable our students to develop a holistic understanding of art in all its forms. Beyond artistic practice, our workshop also aims to cultivate our students' aesthetic intelligence. This means they learn to appreciate art, analyze and interpret works, understand artists' aesthetic choices and develop their own artistic sensibility. Our Art Atelier is much more than just a place for artistic expression, it's a veritable journey through the great works of the classical painters who gave rise to the greatest movements in the history of painting. However, we also explore various types of art, from sculptures to art installations, photography and much more. Our aim is to enable our students to develop a holistic understanding of art in all its forms.

    .s-article-content__block.s-article-content__block--text
      .s-article-content__block-wrapper
        .s-article-content__block-col--zero
        .s-article-content__block-col--info
          figure.s-article-content__block-image
            img(src="./img/s-article-content/image.jpg", alt="")
            figcaption Caption Art Atelier
          .s-article-content__block-text
            p Our Art Atelier is much more than just a place for artistic expression, it's a veritable journey through the great works of the classical painters who gave rise to the greatest movements in the history of painting:
            ul
              li However, we also explore various types of art, from sculptures to art installations, photography and much more. Our aim is to enable our students to develop a holistic understanding of art in all its forms.
              li Beyond artistic practice, our workshop also aims to cultivate our students' aesthetic intelligence. This means they learn to appreciate art, analyze and interpret works, understand artists' aesthetic choices and develop their own artistic sensibility. Our Art Atelier is much more than just a place for artistic expression, it's a veritable journey through the great works of the classical painters who gave rise to the greatest movements in the history of painting.
              li However, we also explore various types of art, from sculptures to art installations, photography and much more. Our aim is to enable our students to develop a holistic understanding of art in all its forms.
              li Beyond artistic practice, our workshop also aims to cultivate our students' aesthetic intelligence. This means they learn to appreciate art, analyze and interpret works, understand artists' aesthetic choices and develop their own artistic sensibility.
