+section('s-info', '', '', '', false)
  h1.s-info__title Error 404
  h2.s-info__subtitle PAGE NOT FOUND
  .s-info__text The page you requested no longer exists or has never existed under this address.If you tried to access this page though bookmarks, please remove or correct the corresponding entry.
  a.s-info__button(href="") Homepage
