+section('s-campus-about', 'О кампусе', false, true)
  .s-campus-about__content
    .s-campus-about__text.font-m.font-light
      p Кампус Сокольники – это комфортная международная англоязычная среда, где дети от трех лет получают дошкольное и школьное образование мирового уровня.
      p Кампус Сокольники находится в районе набережной реки Яузы и парка Сокольники. Новое современное здание оснащено передовым оборудованием и экологичной европейской мебелью.

    .s-campus-about__video
      img.s-campus-about__video-image(src="./img/campus/video-cover.jpg", alt="")
      a.s-campus-about__video-button(data-fancybox="" data-thumb="" href="https://www.youtube.com/watch?v=Q3jFpXZDI1g")
        span
