.s-team-path {
  background: linear-gradient(180deg, rgba(255, 249, 240, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%);

  &__list {
    position: relative;
    display: grid;
    margin-bottom: rem(18);
    grid-template-columns: repeat(1, 1fr);
    gap: rem(30);

    @media (min-width: 768px) {
      margin-bottom: rem(40);
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
      gap: rem(74);
    }

    &::after {
      @media (min-width: 768px) {
        position: absolute;
        top: rem(18);
        width: rem(650);
        height: rem(6);
        background-image: url("data:image/svg+xml,%3Csvg width='872' height='7' viewBox='0 0 872 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='-1' x2='869.44' y2='-1' transform='matrix(-1 -0.000295545 0.000180391 -1 870.051 3.4519)' stroke='%23D1D997' stroke-width='2' stroke-dasharray='7 7'/%3E%3Cpath d='M870.34 3.45203C870.34 5.04703 869.366 5.89844 868.647 5.89844C867.928 5.89844 866.955 5.04703 866.955 3.45203C866.955 1.85702 867.928 1.00562 868.647 1.00562C869.366 1.00562 870.34 1.85702 870.34 3.45203Z' stroke='%23D1D997' stroke-width='2'/%3E%3C/svg%3E%0A");
        content: '';
      }

      @media (min-width: 992px) {
        width: rem(820);
      }

      @media (min-width: 1260px) {
        width: rem(940);
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @media (min-width: 768px) {
      position: relative;
      align-items: flex-start;

      &::before {
        position: absolute;
        top: rem(22);
        left: 0;
      }
    }

    &-year {
      z-index: 1;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: rem(40);
      margin-bottom: rem(15);
      padding-right: rem(15);
      padding-left: rem(15);
      font-family: 'Playfair Display', serif;
      font-size: rem(10);
      line-height: rem(16);
      color: var(--color-white);
      letter-spacing: rem(0.2);
      background-color: var(--color-sand);

      @media (min-width: 768px) {
        height: rem(44);
        margin-bottom: rem(35);
        padding-right: rem(42);
        padding-left: rem(42);
        font-size: rem(17);
        line-height: rem(20);
      }
    }

    &-text {
      font-size: rem(12);
      font-weight: 300;
      line-height: rem(18);
      text-align: center;

      @media (min-width: 768px) {
        font-size: rem(14);
        line-height: rem(22);
        text-align: left;
      }
    }
  }

  &-current {
    background-image: none;

    @media (min-width: 768px) {
      padding-top: rem(54);
      background-image: url(../img/s-team-path/map.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom center;
    }

    &__info {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &-image {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: rem(960);
        margin-bottom: rem(40);
        flex-direction: column;

        img {
          width: 100%;
          height: auto;
          border-radius: rem(10);
        }

        span {
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
          height: rem(36);
          margin: rem(-18) auto 0;
          padding-right: rem(15);
          padding-left: rem(15);
          font-family: 'Playfair Display', serif;
          font-size: rem(11);
          line-height: rem(20);
          text-transform: uppercase;
          color: var(--color-white);
          letter-spacing: rem(0.2);
          background-color: var(--color-sand);

          @media (min-width: 768px) {
            height: rem(52);
            margin: rem(-26) auto 0;
            padding-right: rem(20);
            padding-left: rem(20);
            font-size: rem(14);
          }
        }
      }

      &-text {
        max-width: rem(746);
        font-size: rem(14);
        font-weight: 300;
        line-height: rem(21);
        text-align: center;

        @media (min-width: 768px) {
          font-size: rem(17);
          line-height: rem(25);
        }
      }
    }
  }

  &__location {
    position: relative;

    @media (min-width: 768px) {
      padding: rem(56) 0;
    }

    &-image {

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-size: contain;

        @media (min-width: 768px) {
          bottom: rem(-50);
          display: block;
        }
      }
    }

    &-col {
      z-index: 1;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: rem(300);
      margin: 0 auto;
      text-align: center;
      flex-direction: column;
    }

    &-logo {
      width: rem(60);
      height: auto;
      margin-bottom: rem(20);
    }

    &-info {
      margin-bottom: rem(20);
      font-family: 'Playfair Display', serif;
      font-size: rem(17);
      line-height: rem(20);
      letter-spacing: rem(0.17);

      @media (min-width: 768px) {
        margin-bottom: rem(10);
      }

      br {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }

    &-text {
      font-size: rem(12);
      font-weight: 300;
      line-height: rem(18);

      @media (min-width: 768px) {
        font-size: rem(14);
        line-height: rem(22);
      }
    }
  }
}
