+section('s-about-the-leader', '', '', '', false)
  .s-about-the-leader__inner
    .s-about-the-leader__col.s-about-the-leader__col--info
      .s-about-the-leader__content
        h2.s-about-the-leader__title.font-h1-didona Елена<br> Антонова
        .s-about-the-leader__position.font-text-s Руководитель отдела по приему учащихся
        .s-about-the-leader__text.font-text-s
          p "Одна из моих любимых книг – «Маленький принц». Она помогает всем взрослым не забывать, что они тоже были детьми. Основная задача команды La Berёzka — воплотить детские мечты, реализовать таланты и сохранить ребёнка внутри себя. Мы те взрослые, которые помнят, как невинна и прекрасна «планета» каждого малыша.Буду рада встречам и приглашаю вас и ваших детей в наше удивительное образовательное пространство!"
    .s-about-the-leader__col
      .s-about-the-leader__photo
        img(src="./img/s-about-the-leader/photo.jpg", alt="")
