.s-error {
  &__inner {
    display: grid;
    padding: rem(60) rem(30);
    background: rgba(209, 217, 151, 0.5);
    border-radius: rem(20);
    grid-template-columns: repeat(1, 1fr);
    gap:rem(30);

    @media (min-width: 1024px) {
      padding: 0;
      background: transparent;
      gap:rem(20);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    font-family: 'Didona', sans-serif;
    font-size: rem(40);
    line-height: rem(30);
    letter-spacing: 0.01em;

    @media (min-width: 1024px) {
      font-size: rem(150);
      line-height: rem(135);
    }
  }

  &__text {
    font-family: "Roboto Light", sans-serif;
    font-size: rem(16);
    font-weight: 300;
    line-height: rem(30);

    @media (min-width: 1024px) {
      font-size: rem(20);
    }
  }

  &__col {
    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(45) rem(50);
      background: rgba(209, 217, 151, 0.5);
      border-radius: rem(20);
    }
  }
}
