+section('s-error', '', '', '', false)
  .s-error__inner
    .s-error__col
      .s-error__title-wrap
        h1.s-error__title 404
    .s-error__col
      .s-error__text
        p Добро пожаловать на страницу 404!
        p Вы находитесь здесь, потому что ввели адрес страницы, которая не существует или была перемещена по другому адресу. Не расстраивайтесь! Хотите узнать подробности о поступлении в школу? Вам сюда.Если Вы искали стоимость обучения в школе, перейдите по ссылке.Возможно, Вы хотели бы узнать подробнее о наших учителях? Вы также можете вернуться на главную страницу.
        p Если Вы искали стоимость обучения в школе, перейдите по ссылке.
        p Возможно, Вы хотели бы узнать подробнее о наших учителях? Вы также можете вернуться на главную страницу.
