+section('s-main-standards', 'Each child is Unique', 'IN LA BERЁZKA', '', false)
  .s-main-standards__inner
    .s-main-standards__column.s-main-standards__column--one
      .s-main-standards__text.font-text-s
        p Мы  повышаем стандарты образования, создавая школы с международной средой, современной инфраструктурой и дизайном.
        p В LA BERЁZKA мы меняем подход к образованию и жизненную философию, чтобы каждый ребёнок мог развить свой потенциал и становиться лучше каждый день.
      img(src="./img/s-main-standards/1.jpg", alt="")
    .s-main-standards__column.s-main-standards__column--two
      img(src="./img/s-main-standards/2.jpg", alt="")
    .s-main-standards__column.s-main-standards__column--three
      img(src="./img/s-main-standards/3.jpg", alt="")
