.m-cookies
  .m-cookies__wrapper
    .m-cookies__text.font-text-s Всё на сайте – для вас, cookies – для нас. Собираем их, чтобы сделать сайт ещё удобнее. Ограничить или настроить можно в браузере.
    .m-cookies__buttons
      a.m-cookies__button.m-cookies__button--more(type="button") Подробнее
      button.m-cookies__button.m-cookies__button--agree(type="button") Принять
