.m-cookies
  .m-cookies__wrapper
    .m-cookies__title.font-h2 Cookies
    .m-cookies__text.font-text-s Уважаемый пользователь, <br> Продолжая пользоваться сайтом, Вы даёте Согласие на использование файлов cookie для автоматического сбора и анализа данных, необходимых для работы сайта и его улучшения
    button.m-cookies__button.font-button(type="button") Принять
