+section("s-primary-school-intro", "", "", '', false)
  .s-primary-school-intro__wrap
    .s-primary-school-intro__info
      +m_breadcrumbs(['State of Mind'], 'Начальная школа')
      h1.s-primary-school-intro__title Начальная школа
        span Международной академии
      .s-primary-school-intro__text
        p Начальная школа Международной Академии — это пространство, где традиции и инновации гармонично сосуществуют, создавая идеальные условия для развития учеников. Наша миссия – воспитывать любознательных, уверенных в себе и эмпатичных людей, готовых открывать новые горизонты и вносить свой вклад в будущее.
    .s-primary-school-intro__image
        figure
          picture
            source(media="(min-width: 768px)" srcset="./img/s-primary-school-intro/desktop.jpg")
            img(src="./img/s-primary-school-intro/mobile.jpg", alt="")
          figcaption La Berёzka Books with the author's curriculum and illustrations
  .s-primary-school-intro__bottom-image
    img(src="./img/s-primary-school-intro/bottom.jpg", alt="")

+section("s-primary-school-quote", "", "", '', false)
  .s-primary-school-quote__text Для нас подготовить детей к их будущему, к взрослой жизни — значит дать им сейчас те навыки, которые будут для них актуальны вне зависимости от того, как изменится мир в ближайшие 10, 20, 30 лет
