+section('s-main-contact', '', '', 'Мы всегда рады встрече и с удовольствием подробнее расскажем вам о детском саде La Berёzka', false)
  .s-main-contact__content
    .s-main-contact__map
    .s-main-contact__block
      h2.s-main-contact__title.font-h2-didona Оставить заявку
      .s-main-contact__info.font-text-s
        .s-main-contact__info-item Москва, ул. 2-ая Звенигородская дом, 12 стр. 26
        .s-main-contact__info-item Детский сад расположен на территории жилого комплекса  “LUCKY”
        .s-main-contact__info-item
          a(href="tel:+74993466710") +7 499 346 67 10
          a(href="mailto:study@laberezka.com") study@laberezka.com
      .s-main-contact__socials
        a.s-main-contact__social(href="")
        a.s-main-contact__social(href="")
      form.s-main-contact__form(action="")
        label.s-main-contact__form-label
          input.s-main-contact__form-input(type="text" placeholder="Контактный телефон")
        label.s-main-contact__form-label
          input.s-main-contact__form-input(type="text" placeholder="Ваш E-mail")
        button.s-main-contact__button(type="submit") Отправить
