.s-popup#request
  .s-popup__wrapper
    .s-popup__title.font-h1 Оставьте свои контактные данные
    form.s-popup__form(action="")
      label.s-popup__form-label
        input.s-popup__form-input(type="text" placeholder="Ваше имя")
      label.s-popup__form-label
        input.s-popup__form-input(type="text" placeholder="Ваш E-mail")
      label.s-popup__form-label
        input.s-popup__form-input(type="text" placeholder="Ваш номер телефона")
      button.s-popup__form-button(type="submit") Отправить
      .s-popup__form-note *Отправляя свои контактные данные вы автоматически даёте согласие не обработку персональных данных и соглашаетесь с политикой конфиденциальности
