extends  ../layouts/default

block variables
  - const title = "404"

block append head
  link(rel="stylesheet" href="./styles/page_info.css")

block content
  include ../../blocks/sections/_info/s_info/s_info.pug
