extends  ../layouts/default

block variables
  - const title = "404"

block append head
  link(rel="stylesheet" href="./styles/page_error.css")

block content
  include ../../blocks/sections/_error/s_page_error/s_page_error.pug
