extends  ../layouts/default

block variables
  - const title = "Блог"

block append head
  link(rel="stylesheet" href="./styles/page_articles.css")

block content
  include ../../blocks/sections/_blog/s_articles/s_articles/s_articles.pug

//- block append scripts
//-   script(defer src="./js/page_articles.js")
