extends ../layouts/default

block variables
  - const title = "Политика в отношении файлов cookie"

block append head
  link(rel="stylesheet" href="./styles/page_cookies.css")

block content
  include ../../blocks/sections/_cookies/s_cookies.pug

//- block append scripts
//-   script(defer src="./js/page_about.js")
