extends ../layouts/default

block variables
  - const title = "Explore"

block append head
  link(rel="stylesheet" href="./styles/page_explore.css")

block content
  include ../../blocks/sections/_explore/s_explore_storytellers/s_explore_storytellers.pug
  include ../../blocks/sections/_explore/s_explore_text_block/s_explore_text_block.pug
  include ../../blocks/sections/_explore/s_explore_advantages/s_explore_advantages.pug
  include ../../blocks/sections/_explore/s_explore_include/s_explore_include.pug
  include ../../blocks/sections/_explore/s_explore_one_day/s_explore_one_day.pug

block append scripts
  script(defer src="./js/page_explore.js")
