+section("s-breath", '', '', '', false)
  .m-section__headline
    h1.m-section__title.font-h1 Savva’s
    p.m-section__subtitle.font-h1-didona BREATH
  .m-section__introtext.font-text-s In the radiant glow of Savva Mamontov's vision, our educational philosophy, the 'State of Mind,' ignites a flame of empowerment within young preschool children. Here, they embark on a journey of self-discovery, embracing their innate talents and unleashing boundless creativity.
