+section("s-legacy", '', '', '', false)
  .s-legacy__col
    .m-section__headline
      h1.m-section__title.font-h1 From Bricks
      p.m-section__subtitle.font-h1-didona to legacy
    .s-legacy__text--mobile.font-text-s
      p In the embrace of a 1865 brick, our school breathes life into extraordinary destinies akin to the Mamontov family. Their entrepreneurial ethos resonates within us, as we kindle the flame of ambition in our students. A tapestry woven with Russian heritage and forward-looking international education, we equip our learners to thrive in a vibrant tapestry of cultures.
    .s-legacy__text--desktop.font-text-s
      p In the embrace of a 1865 brick, our school breathes life into extraordinary destinies akin to the Mamontov family. Their entrepreneurial ethos resonates within us, as we kindle the flame of ambition in our students. A tapestry woven with Russian heritage and forward-looking international education, we equip our learners to thrive in a vibrant tapestry of cultures.
      p Merging the Mamontovs' entrepreneurial zeal with our educational philosophy, we ignite the sparks of visionary thought, forging a brighter tomorrow. Tradition and innovation intertwine as we mold young minds, nurturing global perspectives that transcend boundaries. In our community, entrepreneurship, generosity, and innovation are cherished, a testament to the trailblazers who have sculpted Russia's storied pas.
  .s-legacy__col
    .s-legacy__cover
      img(src="./img/s-legacy/cover.jpg", alt="")
    .s-legacy__text--mobile.font-text-s
      p In the embrace of a 1865 brick, our school breathes life into extraordinary destinies akin to the Mamontov family. Their entrepreneurial ethos resonates within us, as we kindle the flame of ambition in our students. A tapestry woven with Russian heritage and forward-looking international education, we equip our learners to thrive in a vibrant tapestry of cultures.
