.m-quote-section {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;

  &__wrapper.l-container {
    padding: rem(80) 0;

    @media (min-width: 1024px) {
      padding: rem(132) 0;
    }
  }

  &__text {
    position: relative;
    text-align: center;
    color: var(--color-black);

    &::before {
      position: absolute;
      top: rem(-30);
      left: 50%;
      display: block;
      width: rem(25);
      height: rem(24);
      transform: translateX(-50%);
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='42' viewBox='0 0 46 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.66 0L16 3.22C14.9733 4.43333 13.8533 6.3 12.64 8.82C11.52 11.2467 10.5866 13.9067 9.83996 16.8C9.09329 19.6933 8.81329 22.54 8.99996 25.34C9.6533 25.1533 10.2133 25.0133 10.68 24.92C11.24 24.7333 11.8 24.64 12.36 24.64C14.4133 24.64 16.14 25.34 17.54 26.74C19.0333 28.0467 19.78 29.9133 19.78 32.34C19.78 35.0467 18.9866 37.24 17.4 38.92C15.8133 40.5067 13.8066 41.3 11.38 41.3C7.83329 41.3 5.12663 39.9933 3.25996 37.38C1.39329 34.7667 0.459961 31.5933 0.459961 27.86C0.459961 25.2467 0.879961 22.3067 1.71996 19.04C2.65329 15.68 3.95996 12.32 5.63996 8.96C7.31996 5.50667 9.32663 2.52 11.66 0ZM37.42 0L41.76 3.22C40.7333 4.43333 39.6133 6.3 38.4 8.82C37.28 11.2467 36.3466 13.9067 35.6 16.8C34.8533 19.6933 34.5733 22.54 34.76 25.34C35.4133 25.1533 35.9733 25.0133 36.44 24.92C37 24.7333 37.56 24.64 38.12 24.64C40.1733 24.64 41.9 25.34 43.3 26.74C44.7933 28.0467 45.54 29.9133 45.54 32.34C45.54 35.0467 44.7466 37.24 43.16 38.92C41.5733 40.5067 39.5666 41.3 37.14 41.3C33.5933 41.3 30.8866 39.9933 29.02 37.38C27.1533 34.7667 26.22 31.5933 26.22 27.86C26.22 25.2467 26.64 22.3067 27.48 19.04C28.4133 15.68 29.72 12.32 31.4 8.96C33.08 5.50667 35.0866 2.52 37.42 0Z' fill='%23C49A6C'/%3E%3C/svg%3E%0A");
      content: "";
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-width: 992px) {
        top: rem(-50);
        width: rem(45);
        height: rem(41);
      }
    }

    &::after {
      position: absolute;
      bottom: rem(-30);
      left: 50%;
      display: block;
      width: rem(25);
      height: rem(24);
      transform: translateX(-50%);
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='42' viewBox='0 0 46 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.34 41.6001L30 38.3801C31.0267 37.1668 32.1467 35.3001 33.36 32.7801C34.48 30.3534 35.4134 27.6934 36.16 24.8001C36.9067 21.9068 37.1867 19.0601 37 16.2601C36.3467 16.4468 35.7867 16.5868 35.32 16.6801C34.76 16.8668 34.2 16.9601 33.64 16.9601C31.5867 16.9601 29.86 16.2601 28.46 14.8601C26.9667 13.5534 26.22 11.6868 26.22 9.26009C26.22 6.55342 27.0134 4.36009 28.6 2.68009C30.1867 1.09342 32.1934 0.300093 34.62 0.300094C38.1667 0.300094 40.8734 1.60676 42.74 4.22009C44.6067 6.83343 45.54 10.0068 45.54 13.7401C45.54 16.3534 45.12 19.2934 44.28 22.5601C43.3467 25.9201 42.04 29.2801 40.36 32.6401C38.68 36.0934 36.6734 39.0801 34.34 41.6001ZM8.58004 41.6001L4.24004 38.3801C5.26671 37.1668 6.3867 35.3001 7.60004 32.7801C8.72004 30.3534 9.65337 27.6934 10.4 24.8001C11.1467 21.9068 11.4267 19.0601 11.24 16.2601C10.5867 16.4468 10.0267 16.5868 9.56004 16.6801C9.00004 16.8668 8.44004 16.9601 7.88004 16.9601C5.82671 16.9601 4.10004 16.2601 2.70004 14.8601C1.20671 13.5534 0.46004 11.6868 0.46004 9.26009C0.46004 6.55342 1.25337 4.36008 2.84004 2.68009C4.42671 1.09342 6.43338 0.300091 8.86004 0.300091C12.4067 0.300092 15.1134 1.60676 16.98 4.22009C18.8467 6.83343 19.78 10.0068 19.78 13.7401C19.78 16.3534 19.36 19.2934 18.52 22.5601C17.5867 25.9201 16.28 29.2801 14.6 32.6401C12.92 36.0934 10.9134 39.0801 8.58004 41.6001Z' fill='%23C49A6C'/%3E%3C/svg%3E%0A");
      content: "";
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-width: 992px) {
        bottom: rem(-60);
        width: rem(45);
        height: rem(41);
      }
    }
  }
}
