mixin m_tabs(dataTabs=dataTabs)
  .m-tabs
    each tab in dataTabs
      .m-tabs__item
        .m-tabs__item-header
          .m-tabs__item-toggle
          .m-tabs__item-title.font-l.font-medium!= tab.title
        .m-tabs__item-content.font-m.font-light!= tab.content
