+section("s-our-team", "OUR TEAM", "News", '', false)
  .s-our-team__slider.swiper-container
    .swiper-wrapper
      a.swiper-slide.s-our-team__slide.s-our-team__slide--image(href="", style="background-image: url(./img/s-news-our-team/1.jpg);")
      a.swiper-slide.s-our-team__slide.s-our-team__slide--text(href="")
        .s-our-team__slide-wrapper
          .s-our-team__slide-title La Berezka Team Interview
          .s-our-team__slide-text Interview of La Berёzka co-authors Alain Roland and Nicolas Mathieu for EdDesign.
      a.swiper-slide.s-our-team__slide.s-our-team__slide--image(href="", style="background-image: url(./img/s-news-our-team/1.jpg);")
      a.swiper-slide.s-our-team__slide.s-our-team__slide--text(href="")
        .s-our-team__slide-wrapper
          .s-our-team__slide-title La Berezka Team Interview
          .s-our-team__slide-text Interview of La Berёzka co-authors Alain Roland and Nicolas Mathieu for EdDesign.

  .s-our-team__bottom.swiper-container
    button.s-our-team__button.s-our-team__button-prev(type="button") <
    .swiper-wrapper
      .swiper-slide.s-our-team__item
        .s-our-team__item-text Interview for EdDesign
      .swiper-slide.s-our-team__item
        .s-our-team__item-text Orientation Day
      .swiper-slide.s-our-team__item
        .s-our-team__item-text Interview for EdDesign
      .swiper-slide.s-our-team__item
        .s-our-team__item-text Orientation Day

    button.s-our-team__button.s-our-team__button-next(type="button") >
