+section("s-our-team", "Upcoming events", "At La Berezka", '', false)
  .s-our-team__slider.swiper-container
    .swiper-wrapper
      a.swiper-slide.s-our-team__slide(href="")
        .s-our-team__slide-wrap
          .s-our-team__slide-image(style="background-image: url(./img/s-news-our-team/2.jpg);")
          .s-our-team__slide-info
            .s-our-team__slide-wrapper
              .s-our-team__slide-title Open Day on the 25 of June 1
              .s-our-team__slide-text
                p We are excited to invite you to our Open Day on the 25th of June at 15:00. Discover our unique approach to education, blending immersive learning, creativity, and exploration in a nurturing environment.
                p You will be able to:
                ul
                  li Tour our state-of-the-art facilities
                  li Learn about our innovative curriculum, including English and Russian storytelling
                  li Experience our educational kitchen and taste our chef’s balanced menu
                .s-our-team__slide-link Register now.

      a.swiper-slide.s-our-team__slide(href="")
        .s-our-team__slide-wrap
          .s-our-team__slide-image(style="background-image: url(./img/s-news-our-team/1.jpg);")
          .s-our-team__slide-info
            .s-our-team__slide-wrapper
              .s-our-team__slide-title La Berezka Team Interview 2
              .s-our-team__slide-text Interview of La Berёzka co-authors Alain Roland and Nicolas Mathieu for EdDesign.
      a.swiper-slide.s-our-team__slide(href="")
        .s-our-team__slide-wrap
          .s-our-team__slide-image(style="background-image: url(./img/s-news-our-team/1.jpg);")
          .s-our-team__slide-info
            .s-our-team__slide-wrapper
              .s-our-team__slide-title La Berezka Team Interview 3
              .s-our-team__slide-text Interview of La Berёzka co-authors Alain Roland and Nicolas Mathieu for EdDesign.
      a.swiper-slide.s-our-team__slide(href="")
        .s-our-team__slide-wrap
          .s-our-team__slide-image(style="background-image: url(./img/s-news-our-team/1.jpg);")
          .s-our-team__slide-info
            .s-our-team__slide-wrapper
              .s-our-team__slide-title La Berezka Team Interview 4
              .s-our-team__slide-text Interview of La Berёzka co-authors Alain Roland and Nicolas Mathieu for EdDesign.

  .s-our-team__bottom.swiper-container
    button.s-our-team__button.s-our-team__button-prev(type="button") <
    .swiper-wrapper
      .swiper-slide.s-our-team__item
        .s-our-team__item-text Interview for EdDesign 1
      .swiper-slide.s-our-team__item
        .s-our-team__item-text Orientation Day 2
      .swiper-slide.s-our-team__item
        .s-our-team__item-text Interview for EdDesign 3
      .swiper-slide.s-our-team__item
        .s-our-team__item-text Orientation Day 4

    button.s-our-team__button.s-our-team__button-next(type="button") >
