+section("s-employee-info", "", "", '', false)
  .s-employee-info__top
    +m_breadcrumbs(['State of Mind'], 'SAVVA’s Legacy')
  .s-employee-info__columns
    .s-employee-info__about
      .s-employee-info__about-title Read about other Leadership Members
      ul.s-employee-info__about-list
        li.s-employee-info__about-item
          a.s-employee-info__about-link(href="") Alain Roland, Head of Academy
        li.s-employee-info__about-item
          a.s-employee-info__about-link(href="") Ildar Nafikov, President of Strategic Development
        li.s-employee-info__about-item
          a.s-employee-info__about-link(href="") Elena Antonova, Head of Admissions
    .s-employee-info__content
      .s-employee-info__photo
        img(src="./img/s-employee-info/photo.jpg", alt="")
      .s-employee-info__headline
        .s-employee-info__col
          .s-employee-info__name Nicolas Mathieu
          .s-employee-info__position Co-founder
        .s-employee-info__col
          .s-employee-info__connect
            .s-employee-info__connect-title Connect
            .s-employee-info__connect-list
              a.s-employee-info__connect-item(href="", target="_blank")
                +svgMono("ic-linkedin")
              a.s-employee-info__connect-item(href="", target="_blank")
                +svgMono("ic-email")
      .s-employee-info__text More than 10 years in education. Experience in opening La preschool des Batignolles in Paris, Exupéry International School in Riga, French kindergarten in Lapino, Moscow.More than 10 years in education. Experience in opening La preschool des Batignolles in Paris, Exupéry International School in Riga, French kindergarten in Lapino, Moscow.More than 10 years in education. Experience in opening La preschool des Batignolles in Paris, Exupéry International School in Riga, French kindergarten in Lapino, Moscow.
