-
  const inspiration = [
    {
      text: 'Российская и международная учебная программа ',
    },
    {
      image: './img/s-articles-inspiration/1.jpg',
    },
    {
      text: 'Иммерсивное изучение английского, французского и русского языков через сторителлинг',
    },
    {
      image: './img/s-articles-inspiration/2.jpg',
    },
    {
      text: 'Арт-класс, многопрофильная лаборатория и уникальные игровые пространства для настоящих исследователей',
    },
    {
      image: './img/s-articles-inspiration/3.jpg',
    },
    {
      text: 'Ресторан с обучающей кухней и авторское сбалансированное меню от шеф-повара, адаптированное для каждого ребенка',
    },
    {
      image: './img/s-articles-inspiration/4.jpg',
    },
    {
      text: 'Комфортная творческая атмосфера, современная инфраструктура и биофильный дизайн, вдохновляющие на учебу и игры',
    },
  ]

+section("s-articles-inspiration", 'Where Inspiration', 'meets education', '', false)
  .s-articles-inspiration__items
    each item in inspiration
      if item.text
        .s-articles-inspiration__card.s-articles-inspiration__card--text
          .s-articles-inspiration__card-text=item.text
      else
        .s-articles-inspiration__card.s-articles-inspiration__card--image
          img.s-articles-inspiration__card-image(src=item.image, alt="")
