.s-explore-education {
  background:url('../img/s-explore-education/bg.png');
  background-size:  contain;


  @media (min-width: 1024px) {
    min-height: rem(1082);
  }

  &__list {
    display: grid;
    max-width: rem(1107);
    margin: rem(18) auto rem(30);
    grid-template-columns: repeat(1, 1fr);
    gap: rem(15);

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__grid {
    display: none;

    @media (min-width: 1024px) {
      position: relative;
      display: block;
      max-width: rem(1106);
      min-height: rem(600);
      margin: 0 auto;
    }
  }

  &__card {
    cursor: pointer;
    display: grid;
    gap: rem(15);
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: 1024px) {
      overflow: hidden;
      position: absolute;
      display: flex;
      width: rem(251);
      height: rem(201);

      &--1 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;

        @media (min-width: 1024px) {
          top: rem(230);
          left: 45%;
          width: rem(150);
          height: rem(250);
        }

        @media (min-width: 1200px) {
          width: rem(200);
          height: rem(280);
        }
      }

      &--2 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;

        @media (min-width: 1024px) {
          top: rem(200);
          left: 20%;
          width: rem(220);
        }

        @media (min-width: 1200px) {
          width: rem(251);
        }
      }

      &--3 {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;

        @media (min-width: 1024px) {
          top: -70px;
          right: 0;
          width: rem(166);
          height:rem(234);
        }

        @media (min-width: 1200px) {
          width: rem(196);
          height:rem(264);
        }
      }

      &--4 {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;

        @media (min-width: 1024px) {
          top: rem(230);
          right: 90px;
          width: rem(240);
          height: rem(160);
        }

        @media (min-width: 1200px) {
          width: rem(270);
          height: rem(190);
        }
      }

      &--5 {
        width: rem(275);
        height: rem(433);
        grid-row-start: 1;
        grid-column-start: 3;
        grid-row-end: 3;
        grid-column-end: 4;


        @media (min-width: 1024px) {
          top: rem(30);
          left: 0;
          width: rem(160);
          height: auto;
        }

        @media (min-width: 1200px) {
          width: rem(190);
        }

        .s-explore-education__card-cover {
          img {
            object-fit: contain;
          }
        }
      }

      &--6 {
        grid-row-start: 1;
        grid-column-start: 4;
        grid-row-end: 2;
        grid-column-end: 5;

        @media (min-width: 1024px) {
          top: 0;
          left: 20%;
          width: rem(220);
          height:rem(140);
        }

        @media (min-width: 1200px) {
          width: rem(251);
          height:rem(177);
        }
      }

      &--7 {
        grid-row-start: 2;
        grid-column-start: 4;
        grid-row-end: 3;
        grid-column-end: 5;

        @media (min-width: 1024px) {
          top: 0;
          left: 50%;
          width: rem(245);
        }

        @media (min-width: 1200px) {
          width: rem(275);
        }
      }
    }

    &:hover {
      @media (min-width: 1024px) {
        .s-explore-education__card {
          &-cover {
            display: none;
          }

          &-content {
            display: flex;
          }
        }
      }
    }

    &--even {
      @media (max-width: 767px) {
        direction: rtl;

        .s-explore-education__card-content {
          text-align: left;
        }
      }
    }

    &-cover {
      width: rem(165);

      @media (min-width: 768px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (min-width: 1024px) {
          object-fit: contain;
        }
      }
    }

    &-content {
      display: flex;
      align-items: center;
      padding: rem(11);
      background: var(--color-white);

      @media (min-width: 1024px) {
        display: none;
        justify-content: center;
        padding: rem(16);
        flex-direction: column;
      }

      @media (min-width: 1200px) {
        padding: rem(24);
      }
    }

    &-title {
      margin-bottom: rem(5);
      font-size: rem(11);
      font-weight: 400;
      line-height: rem(18);
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: rem(0.11);

      @media (min-width: 1024px) {
        font-size: rem(18);
        line-height: rem(26);
      }
    }

    &-text {
      font-size: rem(12);
      font-weight: 300;
      line-height: rem(17);
      font-style: normal;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    width: max-content;
    height: rem(40);
    margin: 0 auto rem(20);
    padding-right: rem(15);
    padding-left: rem(15);
    font-family: "Playfair Display", sans-serif;
    font-size: rem(10);
    font-weight: 400;
    line-height: rem(16);
    text-transform: uppercase;
    color: var(--color-white);
    background: var(--color-sand);
    font-style: normal;
    letter-spacing: rem(0.2);

    @media (min-width: 768px) {
      height: rem(50);
      margin: 0 auto rem(50);
      font-size: rem(16);
    }
  }

  &__text {
    max-width: rem(923);
    margin: 0 auto;
    text-align: center;

    @media (min-width: 768px) {
      letter-spacing: rem(0.17);
    }
  }
}
