.m-search-card {
  cursor: pointer;
  display: block;
  padding: rem(16);
  background: var(--color-white);
  transition-duration: 0.4s;

  @media (min-width: 1440px) {
    padding: rem(28);
  }

  &__title {
    margin-bottom: rem(12);
    color: var(--color-dark-blue);
  }

  &__text {
    display: -webkit-box;
    color: var(--color-black);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  &:hover {
    box-shadow: 0 rem(4) rem(16) rgba(0, 0, 0, 0.12);
  }
}
