+section("s-universal-table", "Where Inspiration", "meets education", "Our speech therapist Miss Xenia, armed with scientific knowledge, is dedicated to unleashing the power of communication, ensuring that every student's voice resonates with clarity and confidence.", false)
    .s-universal-table__content
      table.s-universal-table__table
        thead
          tr
            th Возраст
            th Класс
            th Международная программа
            th Российская программа
        tbody
          tr
            td 2 - 3 года
            td Pre-Nursery
            td(rowspan="3") Early Years Foundation Stage
            td(rowspan="3") Дошкольное образование
          tr
            td 3 - 4 года
            td Nursery
          tr
            td 4 - 5 года
            td Reception
          tr
            td 5 - 6 года
            td Year 1
            td(rowspan="2") Primary School
            td(rowspan="2") Подготовка к школе
          tr
            td 6 - 7 года
            td Year 2
