extends layouts/default

block variables
  - const title = "Главная страница проекта"

block append head
  link(rel="stylesheet" href="./styles/page_homepage.css")

block content
  include ../blocks/sections/_main/s_main_intro/s_main_intro.pug
  include ../blocks/sections/_main/s_legacy/s_legacy.pug
  include ../blocks/sections/_main/s_breath/s_breath.pug
  include ../blocks/sections/_main/s_meets_education/s_meets_education.pug
  include ../blocks/sections/_team/s_our_team/s_our_team.pug

block append scripts
  script(defer src="./js/page_homepage.js")
