extends layouts/default

block variables
  - const title = "Главная страница проекта"

block append head
  link(rel="stylesheet" href="./styles/page_homepage.css")

block content
  include ../blocks/sections/_main/s_meets_education/s_meets_education.pug

block append scripts
  script(defer src="./js/page_homepage.js")
