+section('s-program-age-ratio', 'Соотношение возрастов', 'и программ обучения', '', false)
  .s-program-age-ratio__slider
  .s-program-age-ratio__table
    table
      tbody
        tr.s-program-age-ratio__table-header
          td.s-program-age-ratio__table-title.font-h2 Возраст
          td.s-program-age-ratio__table-title.font-h2 Класс
          td.s-program-age-ratio__table-title.font-h2 Международная программа
          td.s-program-age-ratio__table-title.font-h2 Российская программа
        tr.s-program-age-ratio__table-line.is-first
          td 2 - 3 года
          td Pre-Nursery
          td(rowspan="3") Early Years Foundation Stage
          td(rowspan="3") Дошкольное образование
        tr.s-program-age-ratio__table-line
          td 3 - 4 года
          td Nursery
        tr.s-program-age-ratio__table-line
          td 4 - 5 года
          td Reception
        tr.s-program-age-ratio__table-line
          td 5 - 6 года
          td Year 1
          td(rowspan="2") Primary School
          td(rowspan="2") Подготовка к школе
        tr.s-program-age-ratio__table-line.is-last
          td 6 - 7 года
          td Year 2
