.s-main-intro {
  &__wrapper {
    position: relative;
  }

  &__content {
    position: absolute;
    top: 0;
    max-width: 89%;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 94%;
    }

    @media (min-width: 1336px) {
      max-width: rem(1240);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }

  &__info {
    padding: rem(47) 0;

    @media (min-width: 475px) {
      padding: rem(90) 0;
    }

    @media (min-width: 1200px) {
      padding: rem(147) 0;
    }
  }

  &__title {
    margin: 0 0 rem(5);
    font-family: 'Didona', sans-serif;
    font-size: rem(22);
    line-height: rem(22);
    text-transform: uppercase;
    font-weight: 400;

    @media (min-width: 992px) {
      font-size: rem(40);
      line-height: rem(48);
      letter-spacing: rem(0.44);
    }
  }

  &__text {
    margin: 0;
    font-size: rem(14);
    font-weight: 300;
    line-height: rem(21);

    @media (min-width: 992px) {
      font-size: rem(42);
      font-weight: 100;
      line-height: rem(54);
    }
  }
}
