section.s-main-intro
  .s-main-intro__wrapper
    picture
      source(media="(min-width: 600px)", srcset="./img/intro/banner-home.jpg")
      img.s-main-intro__image(src="./img/intro/banner-home-mobile.jpg")
    .l-container
      .s-main-intro__content
        .s-main-intro__info
          h1.s-main-intro__title A State of Mind Academy
          .s-main-intro__text Where Inspiration Meets Education
