:root {
  --color-dark-blue: #041e42;
  --color-black: #3a3a3a;
  --color-dark-gold: #c49a6c;
  --color-light-gold: #efd6ba;
  --color-grey: #acacac;
  --color-middle-grey: #e5e5e5;
  --color-light-grey: #f9f9f9;
  --color-white: #fff;
  --color-red: #CE202F;
}
