:root {
  --color-dark: #1f1e20;
  --color-sand: #d9c6a9;
  --color-middle-sand: #fffbf2;
  --color-light-sand: #d9c6a9;
  --color-crayola: #d1d997;
  --color-middle-crayola: #e8eccb;
  --color-grey: #a7a7a7;
  --color-middle-grey: #e5e5e5;
  --color-light-grey: #f9f9f9;
  --color-white: #fff;
  --color-light-white: rgba(255, 255, 255, 0.8);
}
