@mixin reset-padding() {
  @media screen {
    .px-0 {
      padding-right: 0;
      padding-left: 0;
    }

    .py-0 {
      padding-top: 0;
      padding-bottom: 0;
    }

    .pb-0 {
      padding-bottom: 0;
    }

    .pt-0 {
      padding-top: 0;
    }

    .mx-0 {
      margin-right: 0;
      margin-left: 0;
    }

    .my-0 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .mb-0 {
      margin-bottom: 0;
    }

    .mt-0 {
      margin-top: 0;
    }
  }
}

:root {
  @for $i from 1 through 20 {
    --a-padding--x#{$i}: #{$i * 0.25}rem;
  }
}

@include reset-padding;
