.font-h1 {
  font-family: 'Lora';
  font-size: rem(24);
  font-weight: 500;
  line-height: rem(24);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(48);
    line-height: rem(48);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(76);
    font-weight: 400;
    line-height: rem(88);
  }
}

@mixin font-h1 {
  font-family: 'Lora';
  font-size: rem(24);
  font-weight: 500;
  line-height: rem(24);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(48);
    line-height: rem(48);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(76);
    font-weight: 400;
    line-height: rem(88);
  }
}

.font-h2 {
  font-family: 'Lora';
  font-size: rem(22);
  font-weight: 500;
  line-height: rem(24);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(44);
    line-height: rem(44);
  }

  @media screen and (min-width: 1600px) {
    font-family: 'Lora';
    font-size: rem(48);
    line-height: rem(56);
  }
}

@mixin font-h2 {
  font-family: 'Lora';
  font-size: rem(22);
  font-weight: 500;
  line-height: rem(24);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(44);
    line-height: rem(44);
  }

  @media screen and (min-width: 1600px) {
    font-family: 'Lora';
    font-size: rem(48);
    line-height: rem(56);
  }
}

.font-h3 {
  font-family: 'Lora';
  font-size: rem(20);
  font-weight: 500;
  line-height: rem(24);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(40);
    line-height: rem(40);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(42);
    line-height: rem(52);
  }
}

@mixin font-h3 {
  font-family: 'Lora';
  font-size: rem(20);
  font-weight: 500;
  line-height: rem(24);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(40);
    line-height: rem(40);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(42);
    line-height: rem(52);
  }
}

.font-h4 {
  font-family: 'Lora';
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(22);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(36);
    line-height: rem(44);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(40);
    font-weight: 400;
    line-height: rem(48);
  }
}

@mixin font-h4 {
  font-family: 'Lora';
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(22);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(36);
    line-height: rem(44);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(40);
    font-weight: 400;
    line-height: rem(48);
  }
}

.font-xl {
  font-family: 'Lora';
  font-size: rem(16);
  line-height: rem(20);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(24);
    line-height: rem(30);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(30);
    line-height: rem(40);
  }
}

@mixin font-xl {
  font-family: 'Lora';
  font-size: rem(16);
  line-height: rem(20);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(24);
    line-height: rem(30);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(30);
    line-height: rem(40);
  }
}

.font-l {
  font-size: rem(16);
  line-height: rem(20);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(21);
    line-height: rem(27);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(24);
    line-height: rem(32);
  }
}

@mixin font-l {
  font-size: rem(14);
  line-height: rem(18);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(21);
    line-height: rem(27);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(24);
    line-height: rem(32);
  }
}

.font-m {
  font-size: rem(12);
  line-height: rem(16);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(18);
    line-height: rem(24);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(20);
    line-height: rem(28);
  }
}

@mixin font-m {
  font-size: rem(12);
  line-height: rem(16);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(18);
    line-height: rem(24);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(20);
    line-height: rem(28);
  }
}

.font-s {
  font-size: rem(10);
  line-height: rem(14);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(15);
    line-height: rem(21);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(16);
    line-height: rem(22);
  }
}

@mixin font-s {
  font-size: rem(10);
  line-height: rem(14);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(15);
    line-height: rem(21);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(16);
    line-height: rem(22);
  }
}

.font-xs {
  font-size: rem(14);
  line-height: rem(20);
}

@mixin font-xs {
  font-size: rem(14);
  line-height: rem(20);
}

.font-button {
  font-size: rem(12);
  line-height: rem(14);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(14);
    line-height: rem(16);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(16);
    line-height: rem(20);
  }
}

@mixin font-button {
  font-size: rem(12);
  line-height: rem(14);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(14);
    line-height: rem(16);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(16);
    line-height: rem(20);
  }
}

.font-menu {
  font-family: 'Lora';
  font-size: rem(12);
  line-height: rem(16);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(14);
    line-height: rem(16);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(16);
    line-height: rem(22);
  }
}

@mixin font-menu {
  font-family: 'Lora';
  font-size: rem(12);
  line-height: rem(16);

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: rem(14);
    line-height: rem(16);
  }

  @media screen and (min-width: 1600px) {
    font-size: rem(16);
    line-height: rem(22);
  }
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}
