h1, h2, h3, h4, h5 {
  margin: 0;
}

.font-h1-didona {
  font-family: 'Didona', sans-serif;
  font-size: rem(28);
  font-weight: 400;
  line-height: rem(36);
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: rem(40);
    font-weight: 400;
    line-height: rem(48);
    letter-spacing: rem(0.4);
  }
}

@mixin font-h1-didona {
  font-family: 'Didona', sans-serif;
  font-size: rem(28);
  font-weight: 400;
  line-height: rem(36);
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: rem(40);
    font-weight: 400;
    line-height: rem(48);
    letter-spacing: rem(0.4);
  }
}

.font-h2-didona {
  font-family: 'Didona', sans-serif;
  font-size: rem(35);
  font-weight: 400;
  line-height: rem(33);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

@mixin font-h2-didona {
  font-family: 'Didona', sans-serif;
  font-size: rem(35);
  font-weight: 400;
  line-height: rem(33);
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.font-h3-didona {
  font-family: 'Didona', sans-serif;
  font-size: rem(26);
  font-weight: 400;
  line-height: rem(34);
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

@mixin font-h3-didona {
  font-family: 'Didona', sans-serif;
  font-size: rem(26);
  font-weight: 400;
  line-height: rem(34);
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.font-h1 {
  font-family: "Roboto", sans-serif;
  font-size: rem(22);
  font-weight: 100;
  line-height: rem(34);

  @media screen and (min-width: 1200px) {
    font-size: rem(42);
    line-height: rem(54);
  }
}

@mixin font-h1 {
  font-family: "Roboto", sans-serif;
  font-size: rem(22);
  font-weight: 100;
  line-height: rem(34);

  @media screen and (min-width: 1200px) {
    font-size: rem(42);
    line-height: rem(54);
  }
}

.font-h2 {
  font-size: rem(15);
  font-weight: 400;
  line-height: rem(26);
  letter-spacing: 0.01em;

  @media screen and (min-width: 1200px) {
    font-size: rem(18);
    line-height: rem(26);
  }
}

@mixin font-h2 {
  font-size: rem(15);
  font-weight: 400;
  line-height: rem(26);
  letter-spacing: 0.01em;

  @media screen and (min-width: 1200px) {
    font-size: rem(18);
    line-height: rem(26);
  }
}

.font-h2-medium {
	font-family: "Roboto Medium", sans-serif;
  font-size: rem(22);
  font-weight: 500;
  line-height: rem(30);
}

@mixin font-h2-medium {
	font-family: "Roboto Medium", sans-serif;
  font-size: rem(22);
  font-weight: 500;
  line-height: rem(30);
}

.font-h2-light {
  font-family: "Roboto Light", sans-serif;
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(26);
  letter-spacing: 0.01em;

  @media screen and (min-width: 1200px) {
    font-size: rem(18);
    line-height: rem(26);
  }
}

@mixin font-h2-light {
  font-family: "Roboto Light", sans-serif;
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(26);
  letter-spacing: 0.01em;

  @media screen and (min-width: 1200px) {
    font-size: rem(18);
    line-height: rem(26);
  }
}

.font-text-m {
  font-family: "Roboto Light", sans-serif;
  font-size: rem(26);
  font-weight: 300;
  line-height: rem(35);
}

@mixin font-text-m {
  font-family: "Roboto Light", sans-serif;
  font-size: rem(26);
  font-weight: 300;
  line-height: rem(35);
}

.font-text-s {
  font-family: "Roboto", sans-serif;
  font-size: rem(14);
  font-weight: 300;
  line-height: rem(22);

  @media screen and (min-width: 1200px) {
    font-size: rem(17);
    line-height: rem(25);
  }
}

@mixin font-text-s {
  font-family: "Roboto Light", sans-serif;
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(21);

  @media screen and (min-width: 1200px) {
    font-size: rem(18);
    line-height: rem(25);
  }
}

.font-button {
  font-family: "Roboto Light", sans-serif;
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(26);

  @media screen and (min-width: 1200px) {
    font-size: rem(18);
    line-height: rem(26);
  }
}

@mixin font-button {
  font-family: "Roboto Light", sans-serif;
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(26);

  @media screen and (min-width: 1200px) {
    font-size: rem(18);
    line-height: rem(26);
  }
}

.font-menu {
  font-family: "Roboto Light", sans-serif;
  font-size: rem(16);
  font-weight: 300;
  line-height: rem(20);
}

@mixin font-menu{
  font-size: rem(16);
  font-weight: 300;
  line-height: rem(20);
}
