.s-explore-one-day {
  &__wrapper {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {

  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__items {
    @media (min-width: 768px) {
      width: rem(300);
      margin-top: rem(30);
      margin-left: rem(30);
      flex: none;
    }

    @media (min-width: 992px) {
      width: rem(370);
    }
  }

  &__item {
    &:first-child {
      .s-explore-one-day__item-button {
        border-top: 0;
      }
    }

    &.is-open {
      .s-explore-one-day__item {
        &-arrow {
          &::after {
            transform: rotate(0);
          }
        }

        &-content {
          height: auto;
          padding: rem(30) 0 rem(13);
          opacity: 1;
          transition: opacity 500ms ease 0ms;
          border-top: rem(1) solid var(--color-dark);

          @media (min-width: 992px) {
            padding: rem(25) 0;
          }
        }
      }
    }

    &-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: rem(15) 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      background-color: transparent;
      border-top: rem(1) solid var(--color-dark);

      @media (min-width: 992px) {
        padding: rem(25) 0;
      }

      &.is-open {
        .s-explore-one-day__item-info {
          border-color: var(--color-dark);
        }
      }
    }

    &-arrow {
      position: relative;

      &::after {
        position: absolute;
        top: calc(50% - 1px);
        right: 20px;
        width: 20px;
        height: 1px;
        transform: rotate(90deg);
        transition: transform .5s ease-in-out;
        background-color: var(--color-dark);
        content: "";
      }

      &::before {
        position: absolute;
        top: calc(50% - 1px);
        right: 20px;
        width: 20px;
        height: 1px;
        transition: transform .5s ease-in-out;
        background-color: var(--color-dark);
        content: "";
      }
    }

    &-info {
      padding: rem(3) 0;
      font-family: "Playfair Display", sans-serif;
      font-size: rem(18);
      font-weight: 400;
      line-height: rem(30);
      transition: border 0.2ms ease-in-out;
      border-bottom: rem(2) solid;
      border-color: transparent;
      font-style: normal;

      @media (min-width: 992px) {
        font-size: rem(22);
        font-weight: 400;
        line-height: rem(35);
      }
    }

    &-time {
      display: inline-block;
      margin-right: rem(26);

      @media (min-width: 992px) {
        margin-right: rem(13);
      }
    }

    &-content {
      overflow: hidden;
      height: 0;
      opacity: 0;
    }

    &-subtitle {
      margin-bottom: rem(15);
      font-size: rem(13);
      font-weight: 400;
      line-height: rem(18);
      text-transform: uppercase;
      letter-spacing: rem(0.13);

      @media (min-width: 992px) {
        font-size: rem(17);
        line-height: rem(25);
        text-transform: none;
        letter-spacing: rem(0.17);
      }
    }

    &-text {
      font-size: rem(12);
      font-weight: 300;
      line-height: rem(18);

      @media (min-width: 992px) {
        font-size: rem(17);
        line-height: rem(25);
      }
    }
  }
}
