.s-explore-include {
  @media (min-width: 992px) {
    .m-section__wrapper {
      padding-bottom: rem(20);
    }
  }

  &__list {
    display: grid;
    padding: rem(32) 0;
    border-top: rem(1) solid var(--color-dark);
    border-bottom: rem(1) solid var(--color-dark);
    gap: rem(20);
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 992px) {
      padding: rem(50) 0;
      gap: rem(40);
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
      gap: rem(45);
    }

    @media (min-width: 1200px) {
      gap: rem(75);
    }
  }

  &__card {
    min-width: 0;
    padding: 0 rem(18);

    @media (min-width: 992px) {
      padding: 0;
    }

    @media (min-width: 1200px) {
      width: rem(334);
    }

    &:nth-child(2) {
      @media (min-width: 1024px) {
        padding-left: rem(15);
      }

      @media (min-width: 1200px) {
        padding-left: rem(25);
      }
    }

    &-title {
      margin-bottom: rem(20);
      font-family: 'Didona', sans-serif;
      font-size: rem(20);
      font-weight: 400;
      line-height: rem(28);
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: rem(0.2);

      @media (min-width: 768px) {
        margin-bottom: rem(18);
        font-size: rem(26);
        line-height: rem(34);
        letter-spacing: rem(0.5);
      }
    }

    &-link {
      position: relative;
      display: block;
      text-decoration-line: underline;

      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: rem(6);
        height: rem(10);
        transform: translateY(-50%);
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.08618L6.30957 5.59813L1 10.1101' stroke='%23A7A7A7' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &-text {
      font-size: rem(14);
      font-weight: 300;
      line-height: rem(22);
      font-style: normal;

      @media (min-width: 768px) {
        font-size: rem(12);
        line-height: rem(20);
      }
    }
  }
}
