+section("s-open-days-intro", "", "", '', false)
  .s-open-days-intro__info
    +m_breadcrumbs(['State of Mind'], 'SAVVA’s Legacy')
    h1.s-open-days-intro__title La Berezka’s
      span Дни открытых дверей
    .s-open-days-intro__text
      p Приглашаем вас на дни открытых дверей в Международной Академии La Berezka 30 мая, а также 13 и 27 июня в 19:00. Вы сможете узнать о преимуществах обучения у нас, встретиться с командой педагогов и задать все интересующие вас вопросы.
      p Вас ждет увлекательная экскурсия по историческому зданию академии, посещение детской научной лаборатории и художественной студии. Вы увидите, как проходят занятия в детском саду и начальной школе.
      p
        b Программа мероприятия:
        ul
          li Приветственный кофе
          li Презентация академии
          li Экскурсия по академии
          li Сессия вопросов и ответов

      p Для участия, пожалуйста, заполните регистрационную форму ниже для каждого участника мероприятия. Не забывайте с собой паспорт, так как в Академии действует строгий пропускной режим.
  .s-open-days-intro__image
    img(src="./img/s-open-days-intro/savva.jpg", alt="")
