.m-breadcrumbs {
  margin-bottom: rem(32);

  &__item {
    display: inline-block;
    vertical-align: top;

    &:not(:last-child):after {
      margin-right: rem(10);
      margin-left: rem(10);
      color: var(--color-grey);
      content: "/";
    }

    &:not(:last-child):hover {
      opacity: 0.8;
    }
  }

  &__link {
    cursor: pointer;
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(30);
    color: var(--color-grey);
    transition: 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__link-current {
    font-weight: 300;
    color: var(--color-grey);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    list-style-type: none;
  }
}
