.s-explore-storytellers {
  overflow: hidden;

  .m-section__wrapper {
    overflow: visible;

    @media (min-width: 768px) {
      overflow: visible;
    }
  }

  &__slider {
    position: relative;
  }

  &__slide {
    // @media (min-width: 1024px) {
    //   width: rem(860);
    // }

    // @media (min-width: 1336px) {
    //   width: rem(1104);
    // }

    overflow: hidden;
  }

  &__card {
    padding: 0 rem(16);

    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1024px) {
      padding: 0;
      width: rem(860);
    }

    @media (min-width: 1200px) {
      width: rem(980);
    }

    @media (min-width: 1260px) {
      width: rem(1104);
    }

    &-cover {
      img {
        width: 100%;
        height: auto;
      }
    }

    &-info {
      padding: rem(25);
      background: rgba(255, 249, 240, 0.80);

      @media (min-width: 992px) {
        width: rem(247);
        flex: none;
      }

      @media (min-width: 1200px) {
        padding: rem(56) rem(24) rem(32);
      }
    }

    &-title {
      font-family: "Playfair Display", sans-serif;
      font-size: rem(22);
      font-weight: 400;
      line-height: rem(35);
      font-style: normal;
    }

    &-age {
      margin-bottom: rem(12);
      font-size: rem(17);
      font-weight: 300;
      line-height: rem(25);
      font-style: normal;
      letter-spacing: rem(0.17);
    }

    &-text {
      font-size: rem(17);
      font-weight: 300;
      line-height: rem(25);
      font-style: normal;
      letter-spacing: rem(0.17);
    }
  }

  &__button {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    background: transparent;
    border: 0;

    &.swiper-button-disabled {
      display: none;
    }

    &-prev {
      left: rem(-10);

      @media (min-width: 1024px) {
        left: rem(-24);
      }

      @media (min-width: 1336px) {
        left: rem(-36);
      }
    }

    &-next {
      right: rem(-10);

      @media (min-width: 1024px) {
        right: rem(50);
      }

      @media (min-width: 1200px) {
        right: rem(70);
      }

      @media (min-width: 1336px) {
        right: 0;
      }
    }
  }
}
