-
  var menuFooter = [
    {title: 'О нас', href: '#'},
    {title: 'Как поступить', href: '#'},
    {title: 'Программа', href: '#'},
  ]

footer.s-footer
  .l-container
    .s-footer__wrapper
      .s-footer__content
        .s-footer__column
          .s-footer__logo
            picture
              source(srcset="./img/global/footer-logo-desktop.svg" media="(min-width: 1024px)")
              img(src="./img/global/footer-logo-mobile.svg", alt="")
        .s-footer__column
          ul.s-footer__menu
            each item in menuFooter
              li.s-footer__menu-item
                a.s-footer__menu-link.font-h2-light(href= item.href)= item.title
        .s-footer__column
          .s-footer__info
            .s-footer__info-item.font-text-s Москва, ул. 2-ая Звенигородская дом, 12 стр. 26
            .s-footer__info-item.font-text-s Детский сад расположен на территории жилого комплекса  “LUCKY”
            .s-footer__info-item.font-text-s
              a(href="tel:+74993466710") +7 499 346 67 10
              a(href="mailto:study@laberezka.com") study@laberezka.com
      .s-footer__bottom.font-text-s © La Berёzka International Academy 2022
