.s-footer {
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: center;
    padding: rem(33) rem(23) rem(48);
    color: var(--color-white);
    // border-radius: rem(20);
    flex-direction: column;
    background-color: var(--color-dark);
    gap: rem(54);


    @media (min-width: 1024px) {
      padding: rem(74) rem(85) rem(48);
    }
  }

  .l-container {
    margin: 0 auto;
  }

  &__content {
    display: grid;
    gap: rem(60);
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__column {
    @media (min-width: 700px) and (max-width: 1023px) {
      &:nth-child(1) {
        grid-column: 1 / -1;
      }
    }
  }

  &__logo {
    flex: none;

    img {
      width: 100%;
      height: auto;
      max-width: rem(215);

      @media (min-width: 1024px) {
        max-width: rem(196);
      }
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &-item {
      &:not(:last-child) {
        margin-bottom: rem(16);

        @media (min-width: 1024px) {
          margin-bottom: rem(12);
        }
      }
    }

    &-link {
      cursor: pointer;
      text-transform: uppercase;
      transition-duration: 0.4s;

      @media (min-width: 1600px) {
        white-space: nowrap;
      }

      &:hover {
        color: var(--color-light-grey);
      }

      &.is-uppercase {
        text-transform: uppercase;
      }

      &.is-active {
        color: var(--color-light-grey);
      }
    }
  }

  &__info {

    &-item {
      &:not(:last-child) {
        margin-bottom: rem(40);
      }

      a {
        cursor: pointer;
        display: block;
        transition-duration: 0.4s;

        &:hover {
          color: var(--color-light-grey);
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: rem(16);

    @media (min-width: 768px) {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}
