+section("s-admission-intro", "", "", '', false)
  .s-admission-intro__info
    +m_breadcrumbs(['State of Mind'], 'Поступление в La Berёzka')
    h1.s-admission-intro__title Ваш путь
      span В La berezka
    .s-admission-intro__text
      p Мы приглашаем Вас посетить Академию La Berёzka, чтобы прочувствовать нашу особую атмосферу, узнать больше о нашей программе и процессе поступления. Наши специалисты приемной комиссии помогут вам получить необходимую информацию и проведут через процесс поступления.
    a.s-admission-intro__button(href="") Запросить приглашение
  .s-admission-intro__image
    picture
      source(media="(min-width: 600px)", srcset="./img/intro/banner-admission.jpg")
      img(src="./img/intro/banner-admission-mobile.jpg")
