section.s-main-intro-slider
  .swiper-wrapper
    .swiper-slide.s-main-intro-slider__slide.s-main-intro-slider__slide--media
      .s-main-intro-slider__slide-wrapper
        picture
          source(media="(min-width: 600px)", srcset="./img/intro/banner-home.jpg")
          img.s-main-intro-slider__slide-image(src="./img/intro/banner-home-mobile.jpg")
        .l-container
          .s-main-intro-slider__slide-content
            .s-main-intro-slider__slide-info
              h1.s-main-intro-slider__slide-title A State of Mind Academy
              .s-main-intro-slider__slide-text Where Inspiration Meets Education

    .swiper-slide.s-main-intro-slider__slide.s-main-intro-slider__slide--video
      .s-main-intro-slider__slide-wrapper
        video(src="//2017-media.weareenvoy.net/hero-blossom.mp4" autoplay loop)
        .l-container
          .s-main-intro-slider__slide-content
            .s-main-intro-slider__slide-info
              h1.s-main-intro-slider__slide-title A State of Mind Academy
              .s-main-intro-slider__slide-text Where Inspiration Meets Education
