+section('s-environment', '', '', '', false)
  .s-environment__inner
    .s-environment__col
      .s-environment__photos
        .s-environment__photo
          img(src="./img/s-environment/1.jpg", alt="1")
        .s-environment__photo
          img(src="./img/s-environment/2.jpg", alt="2")
        .s-environment__photo
          img(src="./img/s-environment/3.jpg", alt="3")
        .s-environment__photo
          img(src="./img/s-environment/4.jpg", alt="4")

    .s-environment__col.s-environment__col--info
      .s-environment__content
        h2.s-environment__title.font-h1 <span>MILLIONS</span> saw the apple fall but <span>NEWTON</span> asked why
        .s-environment__text.font-text-s
          p Мы создаём среду, в которой ваш ребёнок научится исследовать, изобретать, анализировать и делать прогнозы, тестировать гипотезы и делиться открытиями со своими сверстниками.
          p Мы включаем в нашу программу занятия, пробуждающие в ребёнке интерес к разным видам деятельности и развивающие уникальные таланты каждого ученика.
