+section("s-quote", "", "", '', false)
  .s-quote__content
    .s-quote__text “We believe that every child is capable of amazing discoveries and self-fulfilment if given the opportunity to explore the world around them through play.”
