.s-articles {
  &__title {
    margin: 0 0 rem(5);
    font-size: rem(22);
    font-weight: 300;
    line-height: rem(34);

    @media (min-width: 992px) {
      font-size: rem(42);
      font-weight: 100;
      line-height: rem(54);
    }
  }

  &__subtitle {
    margin: 0 0 rem(30);
    font-family: 'Didona', sans-serif;
    font-size: rem(20);
    font-weight: 400;
    line-height: rem(28);
    text-transform: uppercase;

    @media (min-width: 992px) {
      font-size: rem(42);
      line-height: rem(50);
      letter-spacing: rem(0.42);
    }
  }

  &__categories {
    display: flex;
    align-items: center;
    margin-bottom: rem(30);
    flex-wrap: wrap;
    gap: rem(18);

    @media (min-width: 768px) {
      justify-content: center;
      margin-bottom: rem(58);
      padding-top: rem(35);
      padding-bottom: rem(35);
      gap: rem(30);
      border-top: rem(1) solid var(--color-dark);
      border-bottom: rem(1) solid var(--color-dark);
    }
  }

  &__category {
    cursor: pointer;
    font-size: rem(12);
    font-weight: 300;
    line-height: rem(26);
    text-transform: uppercase;
    transition: opacity 0.2s ease;
    font-style: normal;
    letter-spacing: rem(0.12);

    @media (min-width: 768px) {
      font-size: rem(18);
      font-weight: 400;
      line-height: rem(26);
      letter-spacing: rem(0.18);
    }

    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      height: rem(40);
      padding-right: rem(24);
      padding-left: rem(24);
      text-align: center;
      border: rem(1) solid var(--color-dark);
    }

    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }

    &.is-active {
      text-decoration: underline;
    }
  }

  &__items {
    max-width: rem(1148);
    margin: 0 auto;

    @media (min-width: 600px) {
      column-count: 2;
      column-gap: rem(24);
    }

    @media (min-width: 768px) {
      column-count: 3;
      column-gap: rem(34);
    }
  }
}

.m-article {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: rem(40);
  text-align: center;

  &:hover {
    .m-article__image {
      img {
        scale: 1.05;
      }
    }
  }

  &__image {
    overflow: hidden;
    position: relative;
    display: block;
    // height: rem(244);
    margin-bottom: rem(10);

    @media (min-width: 768px) {
      // height: rem(300);
      margin-bottom: rem(20);
    }

    // &--full {
    //   @media (min-width: 768px) {
    //     height: rem(478);
    //   }
    // }

    img {
      width: 100%;
      height: auto;
      min-height: rem(244);
      transition: scale .75s ease-in-out;
      object-fit: cover;

      @media (min-width: 992px) {
        min-height: rem(300);
      }
    }

    // &--full {
    //   img {
    //     @media (min-width: 768px) {
    //       height: rem(478);
    //     }
    //   }
    // }
  }

  &__title {
    margin-bottom: rem(10);
    font-size: rem(22);
    font-weight: 100;
    line-height: rem(34);

    @media (min-width: 768px) {
      margin-bottom: rem(20);
      font-size: rem(30);
      line-height: rem(39);
      letter-spacing: rem(0.3);
    }

    span {
      display: block;
      font-family: "Didona", sans-serif;
      font-size: rem(20);
      font-weight: 400;
      line-height: rem(28);
      text-transform: uppercase;

      @media (min-width: 768px) {
        font-size: rem(26);
        line-height: 130%;
        letter-spacing: rem(0.52);
      }
    }
  }

  &__text {
    font-size: rem(12);
    font-weight: 300;
    line-height: rem(18);

    @media (min-width: 768px) {
      font-size: rem(17);
      line-height: rem(25);
      letter-spacing: rem(0.17);
    }
  }
}
