+section("s-legacy-intro", "", "", '', false)
  .s-legacy-intro__info
    +m_breadcrumbs(['State of Mind'], 'SAVVA’s Legacy')
    h1.s-legacy-intro__title Savva’s
      span legacy
    .s-legacy-intro__text
      p Savva's Legacy, a testament of our aspirations, a beacon of purpose. It fuels our strategic initiative, nurturing creative entrepreneurship, culture's blossoming, and education's growth. Love for our planet, compassion for humanity, intertwine within its essence.
      p Guided by the synergy of parents, children, and our devoted team, these foundations fortify the STATE OF MIND that unites our community. Together, we shape a legacy, leaving indelible imprints upon the world we hold dear.
  .s-legacy-intro__image
    img(src="./img/s-legacy-intro/savva.jpg", alt="")
