block variables
include  ../helpers/_mixins-default
include  ../helpers/_mixins-custom

- function pDate() {
    - return new Date().getTime();
- }

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title #{title}
    meta(name="theme-color" content="#fff")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="apple-touch-icon", sizes="57x57", href="/img/favicons/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="img/favicons/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="img/favicons/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="img/favicons/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="img/favicons/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="img/favicons/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="img/favicons/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="img/favicons/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192", href="img/favicons/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="img/favicons/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicons/favicon-16x16.png")
    link(rel="manifest", href="img/favicons/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="img/favicons/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")

    meta(name="format-detection" content="telephone=no")

    link(rel="preload", href="fonts/didona/didona.woff2", as="font", type="font/woff2", crossorigin)
    link(rel="preload", href="fonts/roboto-light/roboto-light.woff2", as="font", type="font/woff2", crossorigin)
    link(rel="preload", href="fonts/roboto-medium/roboto-medium.woff2", as="font", type="font/woff2", crossorigin)
    link(rel="preload", href="fonts/roboto-regular/roboto-regular.woff2", as="font", type="font/woff2", crossorigin)
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")

    block head
      link(rel="stylesheet" href="styles/global.css?v=" + pDate())

  body(class=pageClass)
    .l-main
      include ../../blocks/sections/s_header/s_header.pug

      main.l-main__content
        .backdrop
        block content

      include ../../blocks/sections/s_footer/s_footer.pug
      include ../../blocks/sections/s_popups/s_popups.pug
      include ../../blocks/components/m_cookies/m_cookies.pug
      button.scrollToTopBtn(type="button")
        <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.5 18.001L7.5 9.50098L7.5 1.00098M7.5 1.00098L1 7.50098M7.5 1.00098L14 7.50098" stroke="white"/>
        </svg>

    block scripts
      script(defer src="./js/main.js?v=" + pDate())
      script(defer src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js")
      script(defer src="./js/vendor.js?v=" + pDate())
