.s-about-team {
  &__slide {
    height: initial;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;

    &-photo {
      margin-bottom: rem(40);

      img {
        width: 100%;
        height: auto;
        max-width: rem(400);
      }
    }

    &-name {
      margin-bottom: rem(20);
    }

    &-position {
      margin-bottom: rem(20);
      color: var(--color-grey);
    }

    &-description {
      margin-bottom: rem(40);
    }

    &-logo {
      margin-bottom: rem(28);

      img {
        width: auto;
        height: 100%;
        max-height: rem(52);
      }
    }
  }

  .swiper-controls {
    @media (min-width: 830px) {
      display: none;
    }
  }
}
