.l {
  &-container {
    --gutter-x: 1rem;
    width: 100%;
    max-width: 89%;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);

    @media (min-width: 768px) {
      max-width: 94%;
    }

    @media (min-width: 1200px) {
      max-width: rem(1240);
    }
  }

  &-page {
    display: flex;
    flex-direction: column;
  }

  &-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }

  &-main {
    display: flex;
    // height: 100vh;
    // min-height: 100vh;
    flex-direction: column;
    padding-bottom: rem(40);
  }
}
