.l {
  &-container {
    --gutter-x: 1rem;
    width: 100%;
    max-width: 96%;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);

    @media (min-width: 768px) {
      max-width: 94%;
    }

    @media (min-width: 1366px) {
      max-width: rem(1200);
    }

    @media (min-width: 1600px) {
      max-width: rem(1440);
    }

    @media (min-width: 1920px) {
      max-width: rem(1620);
    }
  }

  &-page {
    display: flex;
    flex-direction: column;
  }

  &-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }

  &-main {
    display: flex;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
  }
}
