+section('s-main-infoblock', '', '', '', false)
  .s-main-infoblock__content
    .s-main-infoblock__title.font-h3-didona В La Berёzka каждый ребёнок уникален.
    .s-main-infoblock__text.font-text-m В детском саду La Berёzka мы меняем подход к образованию и жизненную философию, чтобы каждый ребёнок мог развить свой потенциал и становиться лучше каждый день.
