.s-main-video {
  .l-container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  &__info {
    @media (min-width: 768px) {
      max-width: rem(1240);
      margin: 0 auto rem(50);
    }
  }

  &__text {
    max-width: rem(760);
  }

  &__media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cover {
    width: 100%;
    height: auto;
    max-width: rem(1440);
    max-height: rem(600);
    margin: 0 auto;
    object-fit: cover;
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: rem(42);
    height: rem(54);
    border: 0;
    transform: translate(-50%, -50%);
    transition: 0.5s all ease;
    background-color: transparent;

    &:hover {
      opacity: 0.7;
    }
  }
}
