.s-main-video {
  .l-container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  &::after {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: rem(550);
    height: rem(360);
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='549' height='357' viewBox='0 0 549 357' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='225.501' y='141.63' width='210.551' height='24.5803' fill='%23D9C6A9' fill-opacity='0.15'/%3E%3Crect x='170' width='379' height='53' fill='%23D9C6A9' fill-opacity='0.15'/%3E%3Crect y='344.125' width='499.592' height='12.8754' fill='%23D9C6A9' fill-opacity='0.15'/%3E%3Crect x='308.975' y='266.872' width='190.617' height='30.4328' fill='%23D9C6A9' fill-opacity='0.15'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__info {
    max-width: 89%;
    margin: 0 auto rem(40);

    @media (min-width: 768px) {
      max-width: rem(1240);
      margin: 0 auto rem(50);
    }
  }

  &__text {
    max-width: rem(760);
  }

  &__media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cover {
    width: 100%;
    height: auto;
    max-width: rem(1440);
    max-height: rem(600);
    margin: 0 auto;
    object-fit: cover;
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: rem(42);
    height: rem(54);
    border: 0;
    transform: translate(-50%, -50%);
    transition: 0.5s all ease;
    background-color: transparent;

    &:hover {
      opacity: 0.7;
    }
  }
}
