+section('s-main-video', '', '', '', false)
  .s-main-video__info
    .s-main-video__text.font-text-s Здесь вы можете прогуляться по кампусу и побывать во всех его уголках
  .s-main-video__media
    img.s-main-video__cover(src="./img/s-main-video/cover.jpg", alt="")
    button.s-main-video__btn(type="button" data-fancybox="" data-thumb="" href!= video_link)
      <svg width="43" height="54" viewBox="0 0 43 54" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.666626 53.8334V0.166748L42.8333 27.0001L0.666626 53.8334Z" fill="white"/>
      </svg>

